HomeAssistant/Node-REDFlow.json
[
    {
        "id": "ebf476f2acf04a28",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e1b7edc062d03ae0",
        "type": "mqtt in",
        "z": "ebf476f2acf04a28",
        "name": "",
        "topic": "Gbox420/Hempy/",
        "qos": "1",
        "datatype": "json",
        "broker": "69d56562.8f32ac",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "494650e08ce435b4",
                "386fe2d6b98ab201"
            ]
        ]
    },
    {
        "id": "494650e08ce435b4",
        "type": "debug",
        "z": "ebf476f2acf04a28",
        "name": "Debug output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 150,
        "wires": []
    },
    {
        "id": "2fb1203819b1b10c",
        "type": "file",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420Log",
        "filename": "Gbox420Log",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 1180,
        "y": 150,
        "wires": [
            []
        ]
    },
    {
        "id": "c20caa44ea8296d8",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Select Log",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Log",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 110,
        "wires": [
            [
                "c75784932db23120",
                "5eabda84bce137d7",
                "6ee7b5e29be1dd99",
                "c61495b7594d35ef",
                "20abe47ec2594983",
                "0ee8df08fb3060c4",
                "7babd840c061574e",
                "cbd45d01d2d8288b"
            ]
        ]
    },
    {
        "id": "fdcab85b712167f1",
        "type": "comment",
        "z": "ebf476f2acf04a28",
        "name": "Processing data received from the Gbox420 Main module over MQTT, displaying it in a Node-RED Dashboard and creating Home Assistant entities",
        "info": "https://github.com/growboxguy/Gbox420/blob/master/Gbox420_Mega_Main/src/Modules_Web/HempyModule_Web.cpp",
        "x": 590,
        "y": 20,
        "wires": []
    },
    {
        "id": "c9b4aa0c95cceeb6",
        "type": "ui_gauge",
        "z": "ebf476f2acf04a28",
        "name": "Bucket Weight",
        "group": "ee644883.b6e878",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Bucket Weight",
        "label": "kg",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "25",
        "colors": [
            "#ea7f06",
            "#7e8dfb",
            "#002aff"
        ],
        "seg1": "10",
        "seg2": "40",
        "x": 1850,
        "y": 500,
        "wires": []
    },
    {
        "id": "c75784932db23120",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "d": true,
        "name": "Select Hempy module",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Hemp1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 450,
        "wires": [
            [
                "63c7d3cea2a1dd79",
                "4b45d3ae088441dc",
                "f2aab7c45ab728f5",
                "930fb53a85e7295b",
                "0bb8235f777b7ef5",
                "c045280bfbfc9457",
                "27f20b02eddc2a35",
                "09296a509a2aaa29",
                "9aa6214fedd5e94a",
                "a21394a11f807208",
                "0b44a2b29419be37",
                "aa5b8030befec7dc",
                "32be5c50c4c83758",
                "d01469ee2c56aa77"
            ]
        ]
    },
    {
        "id": "63c7d3cea2a1dd79",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Evaporation target",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.ET1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 850,
        "wires": [
            [
                "7c22c35262997037"
            ]
        ]
    },
    {
        "id": "4b45d3ae088441dc",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Waste limit",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.WL1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 750,
        "wires": [
            [
                "7076d81b2a5aacd5"
            ]
        ]
    },
    {
        "id": "f2aab7c45ab728f5",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Overflow target",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.OT1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 800,
        "wires": [
            [
                "b93a78e1558570a1"
            ]
        ]
    },
    {
        "id": "930fb53a85e7295b",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Dry weight",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.DW1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 700,
        "wires": [
            [
                "1620c8c40a2b542e"
            ]
        ]
    },
    {
        "id": "0bb8235f777b7ef5",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Pump speed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.PS1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 900,
        "wires": [
            [
                "fe4435257eb93c1b"
            ]
        ]
    },
    {
        "id": "dade56207e6f722a",
        "type": "function",
        "z": "ebf476f2acf04a28",
        "name": "Pump state",
        "func": "switch(msg.payload) {\n  case 0:\n    msg.valueText = \"DISABLED\";\n    msg.color = \"red\";\n    break;\n  case 1:\n     msg.valueText = \"IDLE\";\n     msg.color = \"lime\";\n    break;\n  case 2:\n     msg.valueText = \"RUNNING\";\n     msg.color = \"orange\";\n    break;\n  default:\n     msg.valueText = \"???\";\n     msg.color = \"black\";\n    break;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 1100,
        "wires": [
            [
                "78ab0b0f9dae6dde",
                "fafc3e158d49fbbe"
            ]
        ]
    },
    {
        "id": "b02ad56896cbfdb3",
        "type": "function",
        "z": "ebf476f2acf04a28",
        "name": "Bucket1 state",
        "func": "switch(msg.payload) {\n  case 0:\n    msg.valueText = \"DISABLED\";\n    msg.color = \"red\";\n    break;\n  case 1:\n     msg.valueText = \"IDLE\";\n     msg.color = \"lime\";\n    break;\n  case 2:\n     msg.valueText = \"WATERING\";\n     msg.color = \"orange\";\n    break;\n  case 3:\n     msg.valueText = \"DRAINING\";\n     msg.color = \"blue\";\n    break;\n  default:\n     msg.valueText = \"???\";\n     msg.color = \"black\";\n    break;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 1050,
        "wires": [
            [
                "759fcc17c2dad615",
                "fafc3e158d49fbbe"
            ]
        ]
    },
    {
        "id": "27f20b02eddc2a35",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Drain time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.DT1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 1000,
        "wires": [
            [
                "9149393fcd7dfed4"
            ]
        ]
    },
    {
        "id": "c045280bfbfc9457",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Pump timeout",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.PT1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 950,
        "wires": [
            [
                "d8e41e99fc7b0a17"
            ]
        ]
    },
    {
        "id": "165ca44ab21060bd",
        "type": "ui_gauge",
        "z": "ebf476f2acf04a28",
        "name": "Bucket Weight",
        "group": "7fd41d0.72483e4",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Bucket Weight",
        "label": "kg",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "25",
        "colors": [
            "#ea7f06",
            "#7e8dfb",
            "#002aff"
        ],
        "seg1": "10",
        "seg2": "40",
        "x": 1870,
        "y": 1250,
        "wires": []
    },
    {
        "id": "adbae402f112614b",
        "type": "ui_gauge",
        "z": "ebf476f2acf04a28",
        "name": "Waste Weight",
        "group": "7fd41d0.72483e4",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "wave",
        "title": "Waste Weight",
        "label": "kg",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#ea7f06",
            "#7e8dfb",
            "#002aff"
        ],
        "seg1": "10",
        "seg2": "40",
        "x": 1870,
        "y": 1300,
        "wires": []
    },
    {
        "id": "5cbb56d8709ba5cb",
        "type": "ui_numeric",
        "z": "ebf476f2acf04a28",
        "name": "Dry weight",
        "label": "Dry",
        "tooltip": "",
        "group": "7fd41d0.72483e4",
        "order": 8,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} kg",
        "min": 0,
        "max": "25",
        "step": "0.1",
        "x": 1880,
        "y": 1450,
        "wires": [
            [
                "ae0ff4ad8cea5344"
            ]
        ]
    },
    {
        "id": "4f2f07a61a517e99",
        "type": "ui_numeric",
        "z": "ebf476f2acf04a28",
        "name": "Waste limit",
        "label": "Waste limit",
        "tooltip": "",
        "group": "7fd41d0.72483e4",
        "order": 9,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} kg",
        "min": 0,
        "max": "25",
        "step": "0.5",
        "x": 1880,
        "y": 1500,
        "wires": [
            [
                "b3b13133ccd3d6fc"
            ]
        ]
    },
    {
        "id": "534809d31d91286d",
        "type": "ui_numeric",
        "z": "ebf476f2acf04a28",
        "name": "Overflow target",
        "label": "Overflow target",
        "tooltip": "",
        "group": "7fd41d0.72483e4",
        "order": 10,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} kg",
        "min": 0,
        "max": "1",
        "step": "0.1",
        "x": 1890,
        "y": 1550,
        "wires": [
            [
                "371b4a2f371cf08f"
            ]
        ]
    },
    {
        "id": "3e7c07804741c4be",
        "type": "ui_numeric",
        "z": "ebf476f2acf04a28",
        "name": "Evaporation target",
        "label": "Evaporation target",
        "tooltip": "",
        "group": "7fd41d0.72483e4",
        "order": 12,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} kg",
        "min": 0,
        "max": "6",
        "step": 1,
        "x": 1900,
        "y": 1600,
        "wires": [
            [
                "a839a4f448c7f9c1"
            ]
        ]
    },
    {
        "id": "5eabda84bce137d7",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "d": true,
        "name": "Select Hempy module",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Hemp1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 1250,
        "wires": [
            [
                "c1519a023a0b8715",
                "95e00d72ca387681",
                "613cf882f18037dd",
                "f2618528274db87a",
                "425ff263c528e72c",
                "f9d29f425ecb269a",
                "250e6c807bf0c073",
                "f498ae661de6ccf3",
                "347341978f7f819a",
                "be6a547b7abc9c98",
                "46f9033a92c6f2e9",
                "1ecec70fb4d43f3a",
                "9b4876c3753fd9fd",
                "a2733fbf9990810e"
            ]
        ]
    },
    {
        "id": "c1519a023a0b8715",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Evaporation target",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.ET2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 1600,
        "wires": [
            [
                "d2a4ccfadd4158cf",
                "3e7c07804741c4be"
            ]
        ]
    },
    {
        "id": "43cb8f8c6478eead",
        "type": "ui_text",
        "z": "ebf476f2acf04a28",
        "group": "7fd41d0.72483e4",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "Wet weight",
        "label": "Wet",
        "format": "{{msg.payload}} {{msg.unit}}",
        "layout": "row-spread",
        "x": 1840,
        "y": 1350,
        "wires": []
    },
    {
        "id": "95e00d72ca387681",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Waste limit",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.WL2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 1500,
        "wires": [
            [
                "a0d496df7074fa41",
                "4f2f07a61a517e99"
            ]
        ]
    },
    {
        "id": "613cf882f18037dd",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Overflow target",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.OT2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1550,
        "wires": [
            [
                "9089b36e682c6009",
                "534809d31d91286d"
            ]
        ]
    },
    {
        "id": "f2618528274db87a",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Dry weight",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.DW2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 1450,
        "wires": [
            [
                "c4bf3053afaa27c4",
                "5cbb56d8709ba5cb"
            ]
        ]
    },
    {
        "id": "425ff263c528e72c",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Pump speed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.PS2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 1650,
        "wires": [
            [
                "2bded8f3a12207fb",
                "6aab4decfe85018a"
            ]
        ]
    },
    {
        "id": "6aab4decfe85018a",
        "type": "ui_slider",
        "z": "ebf476f2acf04a28",
        "name": "Pump speed",
        "label": "Speed",
        "tooltip": "",
        "group": "7fd41d0.72483e4",
        "order": 14,
        "width": 4,
        "height": 1,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 1880,
        "y": 1650,
        "wires": [
            [
                "81c6620245d4d6d3"
            ]
        ]
    },
    {
        "id": "e3bdf0ba228fc324",
        "type": "ui_numeric",
        "z": "ebf476f2acf04a28",
        "name": "Pump timeout",
        "label": "Pump timeout",
        "tooltip": "",
        "group": "7fd41d0.72483e4",
        "order": 13,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} sec",
        "min": 0,
        "max": "300",
        "step": "1",
        "x": 1890,
        "y": 1700,
        "wires": [
            [
                "f5a1f7e252d2c719"
            ]
        ]
    },
    {
        "id": "2c63c16aa93abe7f",
        "type": "ui_numeric",
        "z": "ebf476f2acf04a28",
        "name": "Drain time",
        "label": "Drain time",
        "tooltip": "",
        "group": "7fd41d0.72483e4",
        "order": 11,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} sec",
        "min": 0,
        "max": "3600",
        "step": "1",
        "x": 1880,
        "y": 1750,
        "wires": [
            [
                "97b4985339d1bbe4"
            ]
        ]
    },
    {
        "id": "250e6c807bf0c073",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Drain time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.DT2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 1750,
        "wires": [
            [
                "aee9d206da3a3a04",
                "2c63c16aa93abe7f"
            ]
        ]
    },
    {
        "id": "f9d29f425ecb269a",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Pump timeout",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.PT2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1700,
        "wires": [
            [
                "6dc913efb9a6d8c1",
                "e3bdf0ba228fc324"
            ]
        ]
    },
    {
        "id": "6ee7b5e29be1dd99",
        "type": "function",
        "z": "ebf476f2acf04a28",
        "name": "Metric/Imperial units",
        "func": "if(msg.payload.Main1.M === \"1\")\n{\n    global.set(\"WeightUnit\", \"kg\");\n    global.set(\"PressureUnit\", \"bar\");\n    global.set(\"TempUnit\", \"°C\");\n    global.set(\"TempRangeMin\", 0);\n    global.set(\"TempRangeMax\", 40);\n}\nelse\n{\n    global.set(\"WeightUnit\", \"lbs\");\n    global.set(\"PressureUnit\", \"psi\");\n    global.set(\"TempUnit\", \"°F\");\n    global.set(\"TempRangeMin\", 32);\n    global.set(\"TempRangeMax\", 104);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 950,
        "y": 230,
        "wires": [
            []
        ]
    },
    {
        "id": "d15fe635451d2723",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket1 Dry weight",
        "topic": "Gbox420CMD/Hemp1_B1DW",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 2240,
        "y": 700,
        "wires": []
    },
    {
        "id": "aea6989391665c1a",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket1 Waste weight",
        "topic": "Gbox420CMD/Hemp1_B1WL",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 2250,
        "y": 750,
        "wires": []
    },
    {
        "id": "c03cb33a9a4a8867",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket1 Overflow target",
        "topic": "Gbox420CMD/Hemp1_B1OF",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 2260,
        "y": 800,
        "wires": []
    },
    {
        "id": "377ffa4815e350c8",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket1 Evaporation target",
        "topic": "Gbox420CMD/Hemp1_B1ET",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 2270,
        "y": 850,
        "wires": []
    },
    {
        "id": "11777e74e61d7374",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket1 Pump speed",
        "topic": "Gbox420CMD/Hemp1_B1PS",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 2250,
        "y": 900,
        "wires": []
    },
    {
        "id": "e52b33e9dcc83325",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket1 Pump timeout",
        "topic": "Gbox420CMD/Hemp1_B1T",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 2250,
        "y": 950,
        "wires": []
    },
    {
        "id": "a3a723410c269f70",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket1 Drain time",
        "topic": "Gbox420CMD/Hemp1_B1D",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 2240,
        "y": 1000,
        "wires": []
    },
    {
        "id": "05e82c4331da9353",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket2 Dry weight",
        "topic": "Gbox420CMD/Hemp1_B2DW",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 2240,
        "y": 1450,
        "wires": []
    },
    {
        "id": "05a5fbe50a533baa",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket2 Waste weight",
        "topic": "Gbox420CMD/Hemp1_B2WL",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 2250,
        "y": 1500,
        "wires": []
    },
    {
        "id": "ef6ef52b00969a69",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket2 Overflow target",
        "topic": "Gbox420CMD/Hemp1_B2OF",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 2260,
        "y": 1550,
        "wires": []
    },
    {
        "id": "6813faf8756b3311",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket2 Evaporation target",
        "topic": "Gbox420CMD/Hemp1_B2ET",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 2270,
        "y": 1600,
        "wires": []
    },
    {
        "id": "65139eb8c0039f52",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket2 Pump speed",
        "topic": "Gbox420CMD/Hemp1_B2PS",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 2250,
        "y": 1650,
        "wires": []
    },
    {
        "id": "c52a83763a5ec2b8",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket2 Pump timeout",
        "topic": "Gbox420CMD/Hemp1_B2T",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 2250,
        "y": 1700,
        "wires": []
    },
    {
        "id": "59aeab2159f68439",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket2 Drain time",
        "topic": "Gbox420CMD/Hemp1_B2D",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 2240,
        "y": 1750,
        "wires": []
    },
    {
        "id": "ae0ff4ad8cea5344",
        "type": "trigger",
        "z": "ebf476f2acf04a28",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2070,
        "y": 1450,
        "wires": [
            [
                "05e82c4331da9353"
            ]
        ]
    },
    {
        "id": "b3b13133ccd3d6fc",
        "type": "trigger",
        "z": "ebf476f2acf04a28",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2070,
        "y": 1500,
        "wires": [
            [
                "05a5fbe50a533baa"
            ]
        ]
    },
    {
        "id": "371b4a2f371cf08f",
        "type": "trigger",
        "z": "ebf476f2acf04a28",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2070,
        "y": 1550,
        "wires": [
            [
                "ef6ef52b00969a69"
            ]
        ]
    },
    {
        "id": "a839a4f448c7f9c1",
        "type": "trigger",
        "z": "ebf476f2acf04a28",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2070,
        "y": 1600,
        "wires": [
            [
                "6813faf8756b3311"
            ]
        ]
    },
    {
        "id": "f5a1f7e252d2c719",
        "type": "trigger",
        "z": "ebf476f2acf04a28",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2070,
        "y": 1700,
        "wires": [
            [
                "c52a83763a5ec2b8"
            ]
        ]
    },
    {
        "id": "97b4985339d1bbe4",
        "type": "trigger",
        "z": "ebf476f2acf04a28",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2070,
        "y": 1750,
        "wires": [
            [
                "59aeab2159f68439"
            ]
        ]
    },
    {
        "id": "89c45c84cdd742fd",
        "type": "trigger",
        "z": "ebf476f2acf04a28",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2070,
        "y": 700,
        "wires": [
            [
                "d15fe635451d2723"
            ]
        ]
    },
    {
        "id": "853ef41c5a1c006f",
        "type": "trigger",
        "z": "ebf476f2acf04a28",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2070,
        "y": 750,
        "wires": [
            [
                "aea6989391665c1a"
            ]
        ]
    },
    {
        "id": "6b667194890bc638",
        "type": "trigger",
        "z": "ebf476f2acf04a28",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2070,
        "y": 800,
        "wires": [
            [
                "c03cb33a9a4a8867"
            ]
        ]
    },
    {
        "id": "d0eb9efd10c06963",
        "type": "trigger",
        "z": "ebf476f2acf04a28",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2070,
        "y": 850,
        "wires": [
            [
                "377ffa4815e350c8"
            ]
        ]
    },
    {
        "id": "a6cad7cf42168788",
        "type": "trigger",
        "z": "ebf476f2acf04a28",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2070,
        "y": 950,
        "wires": [
            [
                "e52b33e9dcc83325"
            ]
        ]
    },
    {
        "id": "4fff44ed8fac2980",
        "type": "trigger",
        "z": "ebf476f2acf04a28",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2070,
        "y": 1000,
        "wires": [
            [
                "a3a723410c269f70"
            ]
        ]
    },
    {
        "id": "5ad83e17aded33fa",
        "type": "ui_button",
        "z": "ebf476f2acf04a28",
        "name": "Start watering",
        "group": "7fd41d0.72483e4",
        "order": 16,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "ForestGreen",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1320,
        "y": 1400,
        "wires": [
            [
                "c162a58af32587c9"
            ]
        ]
    },
    {
        "id": "57dbe674030a9737",
        "type": "ui_button",
        "z": "ebf476f2acf04a28",
        "name": "Stop watering",
        "group": "7fd41d0.72483e4",
        "order": 17,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1720,
        "y": 1400,
        "wires": [
            [
                "2d7dacb8e5c0de3e"
            ]
        ]
    },
    {
        "id": "0d0da4b903e01d75",
        "type": "ui_button",
        "z": "ebf476f2acf04a28",
        "name": "Disable watering",
        "group": "7fd41d0.72483e4",
        "order": 18,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Disable",
        "tooltip": "",
        "color": "",
        "bgcolor": "FireBrick",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2130,
        "y": 1400,
        "wires": [
            [
                "226b04c55f0e81d4"
            ]
        ]
    },
    {
        "id": "81c6620245d4d6d3",
        "type": "trigger",
        "z": "ebf476f2acf04a28",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2070,
        "y": 1650,
        "wires": [
            [
                "65139eb8c0039f52"
            ]
        ]
    },
    {
        "id": "379f32c4213f0a5f",
        "type": "trigger",
        "z": "ebf476f2acf04a28",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2070,
        "y": 900,
        "wires": [
            [
                "11777e74e61d7374"
            ]
        ]
    },
    {
        "id": "c162a58af32587c9",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket2 Start watering",
        "topic": "Gbox420CMD/Hemp1_B2On",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 1520,
        "y": 1400,
        "wires": []
    },
    {
        "id": "2d7dacb8e5c0de3e",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket2 Stop watering",
        "topic": "Gbox420CMD/Hemp1_B2Off",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 1920,
        "y": 1400,
        "wires": []
    },
    {
        "id": "226b04c55f0e81d4",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket2 watering disabled",
        "topic": "Gbox420CMD/Hemp1_B2Dis",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 2350,
        "y": 1400,
        "wires": []
    },
    {
        "id": "26acf6338e8efc3b",
        "type": "ui_text",
        "z": "ebf476f2acf04a28",
        "group": "7fd41d0.72483e4",
        "order": 15,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Watering",
        "format": "",
        "layout": "row-left",
        "x": 1160,
        "y": 650,
        "wires": []
    },
    {
        "id": "0ad5e9df45fa9c5a",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket1 Start watering",
        "topic": "Gbox420CMD/Hemp1_B1On",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 1520,
        "y": 650,
        "wires": []
    },
    {
        "id": "135c127ae46cc934",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket1 Stop watering",
        "topic": "Gbox420CMD/Hemp1_B1Off",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 1920,
        "y": 650,
        "wires": []
    },
    {
        "id": "462468359c04d639",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Bucket1 watering disabled",
        "topic": "Gbox420CMD/Hemp1_B1Dis",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 2350,
        "y": 650,
        "wires": []
    },
    {
        "id": "902f6693940c53dc",
        "type": "ui_text",
        "z": "ebf476f2acf04a28",
        "group": "7fd41d0.72483e4",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Pump state",
        "label": "<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i>&nbsp;</font>Pump",
        "format": "{{msg.valueText}}",
        "layout": "col-center",
        "x": 2000,
        "y": 1850,
        "wires": []
    },
    {
        "id": "bf164e9402013da9",
        "type": "function",
        "z": "ebf476f2acf04a28",
        "name": "Pump state",
        "func": "switch(msg.payload) {\n  case 0:\n    msg.valueText = \"DISABLED\";\n    msg.color = \"red\";\n    break;\n  case 1:\n     msg.valueText = \"IDLE\";\n     msg.color = \"lime\";\n    break;\n  case 2:\n     msg.valueText = \"RUNNING\";\n     msg.color = \"orange\";\n    break;\n  default:\n     msg.valueText = \"???\";\n     msg.color = \"black\";\n    break;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 1850,
        "wires": [
            [
                "b2df2f1cc5fbb5b3",
                "902f6693940c53dc",
                "fafc3e158d49fbbe"
            ]
        ]
    },
    {
        "id": "2571bf274c49e4b8",
        "type": "ui_text",
        "z": "ebf476f2acf04a28",
        "group": "7fd41d0.72483e4",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "Hempy state",
        "label": "<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i>&nbsp;</font>State",
        "format": "{{msg.valueText}}",
        "layout": "col-center",
        "x": 2000,
        "y": 1800,
        "wires": []
    },
    {
        "id": "a40e7ef3bc6b33d3",
        "type": "function",
        "z": "ebf476f2acf04a28",
        "name": "Bucket state",
        "func": "switch(msg.payload) {\n  case 0:\n    msg.valueText = \"DISABLED\";\n    msg.color = \"red\";\n    break;\n  case 1:\n     msg.valueText = \"IDLE\";\n     msg.color = \"lime\";\n    break;\n  case 2:\n     msg.valueText = \"WATERING\";\n     msg.color = \"orange\";\n    break;\n  case 3:\n     msg.valueText = \"DRAINING\";\n     msg.color = \"blue\";\n    break;\n  default:\n     msg.valueText = \"???\";\n     msg.color = \"black\";\n    break;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 1800,
        "wires": [
            [
                "bd267a2cb1269db7",
                "2571bf274c49e4b8",
                "fafc3e158d49fbbe"
            ]
        ]
    },
    {
        "id": "c61495b7594d35ef",
        "type": "ui_button",
        "z": "ebf476f2acf04a28",
        "name": "Update button",
        "group": "daea9443.544e58",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Update",
        "tooltip": "Update all sensor readings and send an MQTT report",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 930,
        "y": 270,
        "wires": [
            [
                "d7f9a2fcbe7d24ee",
                "6dd1076d9dede193",
                "cc8b799ec2cc540e"
            ]
        ]
    },
    {
        "id": "d7f9a2fcbe7d24ee",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Update sensor readings",
        "topic": "Gbox420CMD/Main1_Refresh",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 1220,
        "y": 270,
        "wires": []
    },
    {
        "id": "8f2501a060f9fbfd",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "MQTT report",
        "topic": "Gbox420CMD/MQTT",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 1180,
        "y": 330,
        "wires": []
    },
    {
        "id": "8d72d3721e93e12c",
        "type": "ui_toast",
        "z": "ebf476f2acf04a28",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Refersh notification",
        "x": 1640,
        "y": 270,
        "wires": []
    },
    {
        "id": "6dd1076d9dede193",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "Delay refresh (3 sec)",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1850,
        "y": 270,
        "wires": [
            [
                "8f2501a060f9fbfd"
            ]
        ]
    },
    {
        "id": "cc8b799ec2cc540e",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Refresh message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Updating all sensor readings, refreshing in 3 seconds",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 270,
        "wires": [
            [
                "8d72d3721e93e12c"
            ]
        ]
    },
    {
        "id": "f8d59cbcffe7c001",
        "type": "moment",
        "z": "ebf476f2acf04a28",
        "name": "",
        "topic": "",
        "input": "time",
        "inputType": "msg",
        "inTz": "Europe/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "yyyy/MM/DD hh:mm:ss A",
        "locale": "en-US",
        "output": "time",
        "outputType": "msg",
        "outTz": "Europe/Berlin",
        "x": 950,
        "y": 60,
        "wires": [
            [
                "d76abd176c7dc825"
            ]
        ]
    },
    {
        "id": "386fe2d6b98ab201",
        "type": "switch",
        "z": "ebf476f2acf04a28",
        "name": "Log or EventLog",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "$exists(msg.payload.EventLog)",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "$exists(msg.payload.Log)",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 60,
        "wires": [
            [
                "00d54e4c214ab895"
            ],
            [
                "20102128b4c4a2d9"
            ]
        ]
    },
    {
        "id": "d76abd176c7dc825",
        "type": "function",
        "z": "ebf476f2acf04a28",
        "name": "Format EventLog",
        "func": "msg.EventLog = \"<font size='+2'>\" + msg.time + \"</font><br>\";\nfor (var logEntry of msg.payload) {\nmsg.EventLog = msg.EventLog + \"&nbsp;&nbsp;·&nbsp;\" + logEntry + \"<br>\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 60,
        "wires": [
            [
                "0d863cb93ae48013"
            ]
        ]
    },
    {
        "id": "134e93a9c3caa218",
        "type": "mqtt out",
        "z": "ebf476f2acf04a28",
        "name": "Google Sheets report",
        "topic": "Gbox420CMD/Main1_SheetsRep",
        "qos": "0",
        "retain": "false",
        "broker": "69d56562.8f32ac",
        "x": 1210,
        "y": 380,
        "wires": []
    },
    {
        "id": "f498ae661de6ccf3",
        "type": "function",
        "z": "ebf476f2acf04a28",
        "name": "Next watering",
        "func": "msg.payload = (msg.payload.WB2 - msg.payload.DW2).toFixed(2) + \" kg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1180,
        "y": 1900,
        "wires": [
            [
                "64dba09499a4505f",
                "e72a36a35b05ff26"
            ]
        ]
    },
    {
        "id": "e72a36a35b05ff26",
        "type": "ui_text",
        "z": "ebf476f2acf04a28",
        "group": "7fd41d0.72483e4",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "Next watering",
        "label": "Next watering",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1870,
        "y": 1900,
        "wires": []
    },
    {
        "id": "347341978f7f819a",
        "type": "function",
        "z": "ebf476f2acf04a28",
        "name": "Waste full in",
        "func": "msg.payload = (msg.payload.WL2 - msg.payload.WR2).toFixed(2) + \" kg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1170,
        "y": 1950,
        "wires": [
            [
                "eaa09931b4bbc06b",
                "eb0d8cc73dab3739"
            ]
        ]
    },
    {
        "id": "eb0d8cc73dab3739",
        "type": "ui_text",
        "z": "ebf476f2acf04a28",
        "group": "7fd41d0.72483e4",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Waste full in",
        "label": "Full in",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1860,
        "y": 1950,
        "wires": []
    },
    {
        "id": "09296a509a2aaa29",
        "type": "function",
        "z": "ebf476f2acf04a28",
        "name": "Next watering",
        "func": "msg.payload = (msg.payload.WB1 - msg.payload.DW1).toFixed(2) + \" kg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1180,
        "y": 1150,
        "wires": [
            [
                "5e8f59a39755561d"
            ]
        ]
    },
    {
        "id": "9aa6214fedd5e94a",
        "type": "function",
        "z": "ebf476f2acf04a28",
        "name": "Waste full in",
        "func": "msg.payload = (msg.payload.WL1 - msg.payload.WR1).toFixed(2) + \" kg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1170,
        "y": 1200,
        "wires": [
            [
                "f9edba0c4b13c601"
            ]
        ]
    },
    {
        "id": "c7d8aa92b91439b1",
        "type": "function",
        "z": "ebf476f2acf04a28",
        "name": "Module state",
        "func": "switch(msg.payload) {\n  case 0:\n    msg.valueText = \"OFFLINE\";\n    msg.color = \"red\";\n    break;\n  case 1:\n     msg.valueText = \"ONLINE\";\n     msg.color = \"lime\";\n    break;\n  default:\n     msg.valueText = \"OFFLINE\";\n     msg.color = \"red\";\n    break;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 450,
        "wires": [
            [
                "311b5dba263cbd06",
                "fafc3e158d49fbbe"
            ]
        ]
    },
    {
        "id": "20102128b4c4a2d9",
        "type": "function",
        "z": "ebf476f2acf04a28",
        "name": "Initialize Alerts",
        "func": "if(flow.get('ActiveAlerts')==undefined){\n   flow.set(\"ActiveAlerts\",[]);\n}\nif(flow.get('RecoveredAlerts')==undefined){\n   flow.set(\"RecoveredAlerts\",[]);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 110,
        "wires": [
            [
                "c20caa44ea8296d8"
            ]
        ]
    },
    {
        "id": "72f5adce376e24ed",
        "type": "function",
        "z": "ebf476f2acf04a28",
        "name": "Process alerts",
        "func": "var name = msg.topic;\nvar value = msg.payload;  //The value to check (Must be a number)\nvar valueText = msg.valueText || value; //Text formatted value (or the value itself if valueText is undefined)\nvar unit = msg.unit || '';  //The value to check (Must be a number)\nvar minLimit = msg.minLimit || null;  //The minimum acceptable value. Set to null if undefined\nvar maxLimit = msg.maxLimit || null; //The maximum acceptable value. Set to null if undefined\n\nvar ActiveAlerts = flow.get(\"ActiveAlerts\"); //Fetch the active alerts\nvar RecoveredAlerts = flow.get(\"RecoveredAlerts\") //Fetch the recovered alerts\n\nif ((minLimit !== null && value < minLimit) || (maxLimit !== null && maxLimit < value))  //Check if value is outside of acceptable range\n{  \n  if (ActiveAlerts.some(alert => alert.startsWith(name) || alert.startsWith(\"<b>[NEW] </b>\" + name))) //Check if the alert was active previously\n  {\n    ActiveAlerts = ActiveAlerts.filter(alert=> !alert.startsWith(name) && !alert.startsWith(\"<b>[NEW] </b>\" + name)); //get the list of currently active alerts\n    ActiveAlerts.push(name + \" : \" + \"<b>\" + valueText + unit + \"</b>\" + \" [\" + minLimit + \" / \" + maxLimit + \"]\");  //Alert HTML line for the email message\n  }\n  else  //if alert was active before: Add to email\n  {\n    flow.set(\"SendEmail\",true);\n    ActiveAlerts.push(\"<b>[NEW] </b>\" + name + \" : \" + \"<b>\" + valueText + unit + \"</b>\" + \" [\" + minLimit + \" / \" + maxLimit + \"]\");  //Alert HTML line for the email message    \n  }\n  flow.set(\"ActiveAlerts\", ActiveAlerts);\n\n  if (RecoveredAlerts.some(alert => alert.startsWith(name)))  //Check if the alert was already in the recovered list previously, if it was: remove it\n  {\n      RecoveredAlerts = RecoveredAlerts.filter(alert=> !alert.startsWith(name));\n      flow.set(\"RecoveredAlerts\", RecoveredAlerts);\n  }\n}\nelse  //if value is withing the acceptable range\n{\n  if (RecoveredAlerts.some(alert => alert.startsWith(name)))  //Check if the alert was already in the recovered list previously, if it was: remove it\n  {\n      RecoveredAlerts = RecoveredAlerts.filter(alert=> !alert.startsWith(name));\n      flow.set(\"RecoveredAlerts\", RecoveredAlerts);\n  }\n\n  if (ActiveAlerts.some(alert => alert.startsWith(name) || alert.startsWith(\"<b>[NEW] </b>\" + name)))  //Check if the alert was active previously, if it was: remove it\n  {\n    flow.set(\"SendEmail\",true);\n    \n    RecoveredAlerts.push(name + \" : \" + \"<b>\" + valueText + unit + \"</b>\" + \" [\" + minLimit + \" / \" + maxLimit + \"]\");  //Alert HTML line for the email message\n    flow.set(\"RecoveredAlerts\", RecoveredAlerts);\n    \n    ActiveAlerts = ActiveAlerts.filter(alert=> !alert.startsWith(name) && !alert.startsWith(\"<b>[NEW] </b>\" + name)); //get the list of currently active alerts\n    flow.set(\"ActiveAlerts\", ActiveAlerts);\n  }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2550,
        "y": 390,
        "wires": [
            []
        ]
    },
    {
        "id": "1cd7c47d9817cb89",
        "type": "e-mail",
        "z": "ebf476f2acf04a28",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "growboxguy@gmail.com",
        "dname": "",
        "x": 2070,
        "y": 110,
        "wires": []
    },
    {
        "id": "30f37c70bb60da5f",
        "type": "inject",
        "z": "ebf476f2acf04a28",
        "name": "Test Log - Fail",
        "props": [
            {
                "p": "payload.Log",
                "v": "{\"IFan\":{\"S\":\"1\"},\"EFan\":{\"S\":\"1\"},\"APump1\":{\"S\":\"0\"},\"Lt1\":{\"S\":\"1\",\"CB\":\"90\",\"B\":\"90\",\"T\":\"1\",\"On\":\"14:20\",\"Of\":\"02:20\"},\"Lt2\":{\"S\":\"1\",\"CB\":\"89\",\"B\":\"89\",\"T\":\"1\",\"On\":\"10:20\",\"Of\":\"02:20\"},\"LtSen1\":{\"R\":\"959\",\"D\":\"0\"},\"DHT1\":{\"T\":\"35.10\",\"H\":\"25.80\"},\"Pow1\":{\"P\":\"789.90\",\"E\":\"870.22\",\"V\":\"245.00\",\"C\":\"5.68\",\"F\":\"50.00\",\"PF\":\"0.96\"},\"Hemp1\":{\"S\":\"0\",\"H1\":\"0\",\"P1\":\"0\",\"PS1\":\"100\",\"PT1\":\"120\",\"DT1\":\"300\",\"WB1\":\"16.35\",\"WR1\":\"18.05\",\"DW1\":\"19.96\",\"WW1\":\"21.96\",\"ET1\":\"2.00\",\"OT1\":\"0.20\",\"WL1\":\"13.00\",\"H2\":\"0\",\"P2\":\"0\",\"PS2\":\"100\",\"PT2\":\"120\",\"DT2\":\"300\",\"WB2\":\"15.55\",\"WR2\":\"19.13\",\"DW2\":\"20.11\",\"WW2\":\"22.11\",\"ET2\":\"2.00\",\"OT2\":\"0.20\",\"WL2\":\"13.00\"},\"Aero1\":{\"S\":\"0\",\"P\":\"3.76\",\"W\":\"19.59\",\"Ma\":\"7.00\",\"Mi\":\"5.00\",\"AS\":\"0\",\"LS\":\"3.93\",\"PSt\":\"0\",\"PS\":\"100\",\"PT\":\"420\",\"PP\":\"10\",\"SE\":\"1\",\"D\":\"3.00\",\"DI\":\"6\",\"NI\":\"10\"},\"Res1\":{\"S\":\"0\",\"P\":\"1.16\",\"T\":\"1567.62\",\"W\":\"2.19\",\"WT\":\"14.56\",\"AT\":\"34.30\",\"H\":\"23.10\"},\"Main1\":{\"M\":\"1\",\"D\":\"0\"}}",
                "vt": "json"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Gbox420/",
        "x": 110,
        "y": 150,
        "wires": [
            [
                "494650e08ce435b4",
                "386fe2d6b98ab201"
            ]
        ]
    },
    {
        "id": "233e8064ec121f74",
        "type": "inject",
        "z": "ebf476f2acf04a28",
        "name": "Test Log - OK",
        "props": [
            {
                "p": "payload.Log",
                "v": "{\"IFan\":{\"S\":\"1\"},\"EFan\":{\"S\":\"1\"},\"APump1\":{\"S\":\"1\"},\"Lt1\":{\"S\":\"1\",\"CB\":\"90\",\"B\":\"90\",\"T\":\"1\",\"On\":\"14:20\",\"Of\":\"02:20\"},\"Lt2\":{\"S\":\"1\",\"CB\":\"89\",\"B\":\"89\",\"T\":\"1\",\"On\":\"10:20\",\"Of\":\"02:20\"},\"LtSen1\":{\"R\":\"959\",\"D\":\"0\"},\"DHT1\":{\"T\":\"25.10\",\"H\":\"45.80\"},\"Pow1\":{\"P\":\"589.90\",\"E\":\"870.22\",\"V\":\"230.00\",\"C\":\"2.68\",\"F\":\"50.00\",\"PF\":\"0.96\"},\"Hemp1\":{\"S\":\"1\",\"H1\":\"1\",\"P1\":\"1\",\"PS1\":\"100\",\"PT1\":\"120\",\"DT1\":\"300\",\"WB1\":\"21.35\",\"WR1\":\"8.05\",\"DW1\":\"19.96\",\"WW1\":\"21.96\",\"ET1\":\"2.00\",\"OT1\":\"0.20\",\"WL1\":\"13.00\",\"H2\":\"1\",\"P2\":\"1\",\"PS2\":\"100\",\"PT2\":\"120\",\"DT2\":\"300\",\"WB2\":\"20.55\",\"WR2\":\"9.13\",\"DW2\":\"20.11\",\"WW2\":\"22.11\",\"ET2\":\"2.00\",\"OT2\":\"0.20\",\"WL2\":\"13.00\"},\"Aero1\":{\"S\":\"1\",\"P\":\"6.76\",\"W\":\"10.59\",\"Ma\":\"7.00\",\"Mi\":\"5.00\",\"AS\":\"1\",\"LS\":\"6.93\",\"PSt\":\"1\",\"PS\":\"100\",\"PT\":\"420\",\"PP\":\"10\",\"SE\":\"1\",\"D\":\"3.00\",\"DI\":\"6\",\"NI\":\"10\"},\"Res1\":{\"S\":\"1\",\"P\":\"6.16\",\"T\":\"1567.62\",\"W\":\"9.19\",\"WT\":\"17.56\",\"AT\":\"24.30\",\"H\":\"53.10\"},\"Main1\":{\"M\":\"1\",\"D\":\"0\"}}",
                "vt": "json"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Gbox420/",
        "x": 110,
        "y": 110,
        "wires": [
            [
                "494650e08ce435b4",
                "386fe2d6b98ab201"
            ]
        ]
    },
    {
        "id": "13e438ea94af8afe",
        "type": "tableify",
        "z": "ebf476f2acf04a28",
        "name": "GrowLog table",
        "before": " <font size=\"+2\"><b>Raw log:</b></font>",
        "after": "",
        "tableStyle": "padding:0px;margin:0px;",
        "theadStyle": "",
        "tbodyStyle": "",
        "trStyle": "",
        "tdStyle": "padding-top: 0px;   padding-bottom: 0px;border:1px solid #ccc;text-align:left;",
        "x": 1640,
        "y": 110,
        "wires": [
            [
                "fc77d9c18eaa968d"
            ]
        ]
    },
    {
        "id": "0ee8df08fb3060c4",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 910,
        "y": 110,
        "wires": [
            [
                "19bba462187c558a"
            ]
        ]
    },
    {
        "id": "fc77d9c18eaa968d",
        "type": "template",
        "z": "ebf476f2acf04a28",
        "name": "HTML email template",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "{{#flow.ActiveAlerts.length}}\n  <font size=\"+2\"><b>{{ActiveAlertsSize}} active alert(s):</b></font><br>\n  <font size=\"+1\" color='red'>\n   {{#flow.ActiveAlerts}}<li>{{{.}}}</li>{{/flow.ActiveAlerts}}\n  </font><br>\n{{/flow.ActiveAlerts.length}}\n\n{{#flow.RecoveredAlerts.length}}\n  <font size=\"+2\"><b>{{RecoveredAlertsSize}} recovered alert(s):</b></font><br>\n  <font size=\"+1\" color='green'>\n   {{#flow.RecoveredAlerts}}<li>{{{.}}}</li>{{/flow.RecoveredAlerts}}\n  </font><br>\n{{/flow.RecoveredAlerts.length}}\n\n{{{payload}}}",
        "output": "str",
        "x": 1840,
        "y": 110,
        "wires": [
            [
                "1cd7c47d9817cb89"
            ]
        ]
    },
    {
        "id": "20abe47ec2594983",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "Rate limit (1hr)",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 930,
        "y": 150,
        "wires": [
            [
                "2fb1203819b1b10c"
            ]
        ]
    },
    {
        "id": "19bba462187c558a",
        "type": "switch",
        "z": "ebf476f2acf04a28",
        "name": "Send email",
        "property": "SendEmail",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1180,
        "y": 110,
        "wires": [
            [
                "ece3adf34705b7d9"
            ],
            []
        ]
    },
    {
        "id": "00d54e4c214ab895",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Select Event Log",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.EventLog",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "time",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 60,
        "wires": [
            [
                "f8d59cbcffe7c001"
            ]
        ]
    },
    {
        "id": "7babd840c061574e",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 910,
        "y": 190,
        "wires": [
            [
                "ed049e790a702350"
            ]
        ]
    },
    {
        "id": "ed049e790a702350",
        "type": "switch",
        "z": "ebf476f2acf04a28",
        "name": "Alerts active",
        "property": "ActiveAlerts",
        "propertyType": "flow",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1180,
        "y": 210,
        "wires": [
            [
                "b1b6d2d706fe610e"
            ],
            [
                "fdab58842f21f71a"
            ]
        ]
    },
    {
        "id": "b1b6d2d706fe610e",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Show Alerts group",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"GrowBox_Alerts\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 190,
        "wires": [
            [
                "7b5850cbef43681d",
                "4ff9cea946cef299"
            ]
        ]
    },
    {
        "id": "fdab58842f21f71a",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Hide Alerts group",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"GrowBox_Alerts\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 230,
        "wires": [
            [
                "2ef6b7a16621025a"
            ]
        ]
    },
    {
        "id": "2ef6b7a16621025a",
        "type": "ui_ui_control",
        "z": "ebf476f2acf04a28",
        "name": "",
        "events": "all",
        "x": 1540,
        "y": 230,
        "wires": [
            []
        ]
    },
    {
        "id": "7b5850cbef43681d",
        "type": "ui_ui_control",
        "z": "ebf476f2acf04a28",
        "name": "",
        "events": "all",
        "x": 1540,
        "y": 190,
        "wires": [
            []
        ]
    },
    {
        "id": "4ff9cea946cef299",
        "type": "function",
        "z": "ebf476f2acf04a28",
        "name": "Format Alerts",
        "func": "msg.Alerts = \"\"\nfor (var alert of flow.get(\"ActiveAlerts\")) {\nmsg.Alerts = msg.Alerts + \"&nbsp;&nbsp;·&nbsp;\"+ alert + \"<br>\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 190,
        "wires": [
            [
                "d53ce452278ef6bb"
            ]
        ]
    },
    {
        "id": "be6a547b7abc9c98",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Bucket2 state",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.H2)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Bucket2 state",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "minLimit",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1800,
        "wires": [
            [
                "a40e7ef3bc6b33d3"
            ]
        ]
    },
    {
        "id": "46f9033a92c6f2e9",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Bucket2 pump",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.P2)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Bucket2 pump",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "minLimit",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1850,
        "wires": [
            [
                "bf164e9402013da9"
            ]
        ]
    },
    {
        "id": "1ecec70fb4d43f3a",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Bucket2 Weight",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.WB2)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Bucket2 Weight",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "minLimit",
                "pt": "msg",
                "to": "17",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "maxLimit",
                "pt": "msg",
                "to": "24",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "unit",
                "pt": "msg",
                "to": "WeightUnit",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1250,
        "wires": [
            [
                "09dcfa03f7868c0e",
                "165ca44ab21060bd",
                "fafc3e158d49fbbe"
            ]
        ]
    },
    {
        "id": "9b4876c3753fd9fd",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Bucket2 Waste",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.WR2)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Bucket2 Waste",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "minLimit",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "maxLimit",
                "pt": "msg",
                "to": "12",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "unit",
                "pt": "msg",
                "to": "WeightUnit",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1300,
        "wires": [
            [
                "f57c2312e9bd897d",
                "adbae402f112614b",
                "fafc3e158d49fbbe"
            ]
        ]
    },
    {
        "id": "a21394a11f807208",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Bucket1 Weight",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.WB1)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Bucket1 Weight",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "minLimit",
                "pt": "msg",
                "to": "17",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "maxLimit",
                "pt": "msg",
                "to": "24",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "unit",
                "pt": "msg",
                "to": "WeightUnit",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 500,
        "wires": [
            [
                "3ceb48ce3e7ead95",
                "c9b4aa0c95cceeb6",
                "fafc3e158d49fbbe"
            ]
        ]
    },
    {
        "id": "0b44a2b29419be37",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Hempy module",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.S)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Hempy module",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "minLimit",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 450,
        "wires": [
            [
                "c7d8aa92b91439b1"
            ]
        ]
    },
    {
        "id": "32be5c50c4c83758",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Bucket1 pump",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.P1)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Bucket1 pump",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "minLimit",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1100,
        "wires": [
            [
                "dade56207e6f722a"
            ]
        ]
    },
    {
        "id": "aa5b8030befec7dc",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Bucket1 state",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.H1)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Bucket1 state",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "minLimit",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1050,
        "wires": [
            [
                "b02ad56896cbfdb3"
            ]
        ]
    },
    {
        "id": "311b5dba263cbd06",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1560,
        "y": 450,
        "wires": [
            [
                "c0f2c3644b2884b7"
            ]
        ]
    },
    {
        "id": "3ceb48ce3e7ead95",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 500,
        "wires": [
            [
                "7075be6038178891"
            ]
        ]
    },
    {
        "id": "d01469ee2c56aa77",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Wet Weight",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.WW1)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "name",
                "pt": "msg",
                "to": "Wet Weight",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "unit",
                "pt": "msg",
                "to": "WeightUnit",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 600,
        "wires": [
            [
                "a3e02136fd5a851d"
            ]
        ]
    },
    {
        "id": "a3e02136fd5a851d",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 600,
        "wires": [
            [
                "d82236063044b280"
            ]
        ]
    },
    {
        "id": "9149393fcd7dfed4",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 1000,
        "wires": [
            [
                "d8f6bdcce1135f40"
            ]
        ]
    },
    {
        "id": "d8e41e99fc7b0a17",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 950,
        "wires": [
            [
                "54666bf7f99dfd06"
            ]
        ]
    },
    {
        "id": "fe4435257eb93c1b",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 900,
        "wires": [
            [
                "3a449f9e77ed8d43"
            ]
        ]
    },
    {
        "id": "7c22c35262997037",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 850,
        "wires": [
            [
                "06e588043dff5c60"
            ]
        ]
    },
    {
        "id": "b93a78e1558570a1",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 800,
        "wires": [
            [
                "41b53a6cb09c4680"
            ]
        ]
    },
    {
        "id": "7076d81b2a5aacd5",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 750,
        "wires": [
            [
                "fc57a3299a0c78e4"
            ]
        ]
    },
    {
        "id": "1620c8c40a2b542e",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 700,
        "wires": [
            [
                "c5b6d8c789591e3a"
            ]
        ]
    },
    {
        "id": "759fcc17c2dad615",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1560,
        "y": 1050,
        "wires": [
            [
                "3e43a5cae327f8c7"
            ]
        ]
    },
    {
        "id": "78ab0b0f9dae6dde",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1560,
        "y": 1100,
        "wires": [
            [
                "44d1b4ee873bff72"
            ]
        ]
    },
    {
        "id": "5e8f59a39755561d",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 1150,
        "wires": [
            [
                "e7e2c8f41d9377d0"
            ]
        ]
    },
    {
        "id": "f9edba0c4b13c601",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 1200,
        "wires": [
            [
                "8c32eed2c1487264"
            ]
        ]
    },
    {
        "id": "09dcfa03f7868c0e",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 1250,
        "wires": [
            [
                "082f602af4c58d41"
            ]
        ]
    },
    {
        "id": "f57c2312e9bd897d",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 1300,
        "wires": [
            [
                "5510027669bed79d"
            ]
        ]
    },
    {
        "id": "a2733fbf9990810e",
        "type": "change",
        "z": "ebf476f2acf04a28",
        "name": "Wet Weight",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.WW2)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "name",
                "pt": "msg",
                "to": "Wet Weight",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "unit",
                "pt": "msg",
                "to": "WeightUnit",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 1350,
        "wires": [
            [
                "8a6dc062f6f94899",
                "43cb8f8c6478eead"
            ]
        ]
    },
    {
        "id": "8a6dc062f6f94899",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 1350,
        "wires": [
            [
                "8b14eb1f5a87af96"
            ]
        ]
    },
    {
        "id": "c4bf3053afaa27c4",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 1450,
        "wires": [
            [
                "d455589f1c9755e5"
            ]
        ]
    },
    {
        "id": "a0d496df7074fa41",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 1500,
        "wires": [
            [
                "30bbb3f3a6260979"
            ]
        ]
    },
    {
        "id": "9089b36e682c6009",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 1550,
        "wires": [
            [
                "504feb9b9f41d763"
            ]
        ]
    },
    {
        "id": "d2a4ccfadd4158cf",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 1600,
        "wires": [
            [
                "83581c37997b4999"
            ]
        ]
    },
    {
        "id": "2bded8f3a12207fb",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 1650,
        "wires": [
            [
                "8ce76677f134c7af"
            ]
        ]
    },
    {
        "id": "6dc913efb9a6d8c1",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 1700,
        "wires": [
            [
                "a68f4366a99bd8d3"
            ]
        ]
    },
    {
        "id": "aee9d206da3a3a04",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 1750,
        "wires": [
            [
                "b8d87184da1f8606"
            ]
        ]
    },
    {
        "id": "bd267a2cb1269db7",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1560,
        "y": 1800,
        "wires": [
            [
                "2bfb7e568052a5ce"
            ]
        ]
    },
    {
        "id": "b2df2f1cc5fbb5b3",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1560,
        "y": 1850,
        "wires": [
            [
                "2b3b1e4acbef09ca"
            ]
        ]
    },
    {
        "id": "64dba09499a4505f",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 1900,
        "wires": [
            [
                "7ab11d01160cbde2"
            ]
        ]
    },
    {
        "id": "eaa09931b4bbc06b",
        "type": "delay",
        "z": "ebf476f2acf04a28",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 1370,
        "y": 1950,
        "wires": [
            [
                "a2348ced25060d25"
            ]
        ]
    },
    {
        "id": "fafc3e158d49fbbe",
        "type": "deglitch",
        "z": "ebf476f2acf04a28",
        "name": "",
        "mode": 1,
        "time": "1",
        "timeUnits": "minutes",
        "x": 2340,
        "y": 390,
        "wires": [
            [
                "72f5adce376e24ed"
            ]
        ]
    },
    {
        "id": "ece3adf34705b7d9",
        "type": "function",
        "z": "ebf476f2acf04a28",
        "name": "Count Array size / Set email title",
        "func": "msg.topic = \"GrowBox report\"; //Email title\nflow.set(\"SendEmail\",false); //Reset email sending flag\nmsg.ActiveAlertsSize = flow.get('ActiveAlerts').length;  //Count active alerts array size\nmsg.RecoveredAlertsSize = flow.get('RecoveredAlerts').length; //Count resolved alerts array size\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 110,
        "wires": [
            [
                "13e438ea94af8afe"
            ]
        ]
    },
    {
        "id": "d53ce452278ef6bb",
        "type": "ui_template",
        "z": "ebf476f2acf04a28",
        "group": "6dd08518.542dac",
        "name": "Alerts template",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"height:auto; overflow:auto\" ng-bind-html=\"msg.Alerts\"></div>\n\n<style>\n  #GrowBox_Alerts > div {\n       height:200px;\n   }\n   \n  #GrowBox_Alerts > div > p[style] {\n      height:100% !important;\n  }\n  \n   #GrowBox_Alerts_cards[style] {\n      height:100% !important;\n  }\n  \n  #GrowBox_Alerts_cards > md-card[style] {\n       height:100% !important;\n  }\n </style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1870,
        "y": 190,
        "wires": [
            []
        ]
    },
    {
        "id": "7075be6038178891",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket1 Weight",
        "entityConfig": "4e5bfefb.0aff6",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1600,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "d82236063044b280",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket1 WetWeight",
        "entityConfig": "c05f5590.554f08",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1611,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "c5b6d8c789591e3a",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket1 DryWeight",
        "entityConfig": "c2a2348a.241288",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1610,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "fc57a3299a0c78e4",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket1 WasteLimit",
        "entityConfig": "34cfbe6d.30ecb2",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1620,
        "y": 750,
        "wires": [
            []
        ]
    },
    {
        "id": "41b53a6cb09c4680",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket1 OverflowTarget",
        "entityConfig": "1810f5dd.e1f70a",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1630,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "06e588043dff5c60",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket1 EvaporationTarget",
        "entityConfig": "a7b8ef17.27aca",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1638,
        "y": 849,
        "wires": [
            []
        ]
    },
    {
        "id": "3a449f9e77ed8d43",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket1 PumpSpeed",
        "entityConfig": "4ca5e3e6.cea7bc",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1620,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "54666bf7f99dfd06",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket1 PumpTimeout",
        "entityConfig": "c4ec8a60.1ef9d8",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1618,
        "y": 949,
        "wires": [
            []
        ]
    },
    {
        "id": "d8f6bdcce1135f40",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket1 DrainTime",
        "entityConfig": "80960212.3dc97",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1610,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "3e43a5cae327f8c7",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket1 State",
        "entityConfig": "6ef16255.a89e9c",
        "version": 0,
        "state": "valueText",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            },
            {
                "property": "value",
                "value": "payload",
                "valueType": "msg"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1770,
        "y": 1050,
        "wires": [
            []
        ]
    },
    {
        "id": "44d1b4ee873bff72",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket1 PumpState",
        "entityConfig": "335587bb.31cc18",
        "version": 0,
        "state": "valueText",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            },
            {
                "property": "value",
                "value": "payload",
                "valueType": "msg"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1792,
        "y": 1101,
        "wires": [
            []
        ]
    },
    {
        "id": "e7e2c8f41d9377d0",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket1 NextWatering",
        "entityConfig": "eeca6f66.ee7e3",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1620,
        "y": 1150,
        "wires": [
            []
        ]
    },
    {
        "id": "8c32eed2c1487264",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket1 WasteRemaining",
        "entityConfig": "66587578.298e3c",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1630,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "8b14eb1f5a87af96",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket2 WetWeight",
        "entityConfig": "4641979e.615218",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1610,
        "y": 1350,
        "wires": [
            []
        ]
    },
    {
        "id": "5510027669bed79d",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket2 WasteWeight",
        "entityConfig": "8bcb4758.199ff8",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1619,
        "y": 1299,
        "wires": [
            []
        ]
    },
    {
        "id": "082f602af4c58d41",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket2 Weight",
        "entityConfig": "2516a9d2.132946",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1600,
        "y": 1250,
        "wires": [
            []
        ]
    },
    {
        "id": "d455589f1c9755e5",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket2 DryWeight",
        "entityConfig": "cdf67ec6.8997c",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1610,
        "y": 1450,
        "wires": [
            []
        ]
    },
    {
        "id": "30bbb3f3a6260979",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket2 WasteLimit",
        "entityConfig": "4b34e148.5d4f4",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1610,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "504feb9b9f41d763",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket2 OverflowTarget",
        "entityConfig": "3a437979.c90796",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1630,
        "y": 1550,
        "wires": [
            []
        ]
    },
    {
        "id": "83581c37997b4999",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket2 EvaporationTarget",
        "entityConfig": "12228ac7.983205",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1640,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "8ce76677f134c7af",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket2 PumpSpeed",
        "entityConfig": "d8a25be1.aed678",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1620,
        "y": 1650,
        "wires": [
            []
        ]
    },
    {
        "id": "a68f4366a99bd8d3",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket2 PumpTimeout",
        "entityConfig": "644f7d5e.3b4294",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1620,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "b8d87184da1f8606",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket2 DrainTime",
        "entityConfig": "c54e16f3.818e28",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1610,
        "y": 1750,
        "wires": [
            []
        ]
    },
    {
        "id": "2bfb7e568052a5ce",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket2 State",
        "entityConfig": "354e9929.69f5c6",
        "version": 0,
        "state": "valueText",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            },
            {
                "property": "value",
                "value": "payload",
                "valueType": "msg"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1760,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "2b3b1e4acbef09ca",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket2 PumpState",
        "entityConfig": "5c779d59.925d74",
        "version": 0,
        "state": "valueText",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            },
            {
                "property": "value",
                "value": "payload",
                "valueType": "msg"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1780,
        "y": 1850,
        "wires": [
            []
        ]
    },
    {
        "id": "7ab11d01160cbde2",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket2 NextWatering",
        "entityConfig": "e3073514.990498",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1619,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "a2348ced25060d25",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Bucket2 WasteRemaining",
        "entityConfig": "3df64d05.cf7f42",
        "version": 0,
        "state": "payload",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1629,
        "y": 1950,
        "wires": [
            []
        ]
    },
    {
        "id": "c0f2c3644b2884b7",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 Hempy ModuleState",
        "entityConfig": "31d1b95.cc12746",
        "version": 0,
        "state": "valueText",
        "stateType": "msg",
        "attributes": [
            {
                "property": "timestamp",
                "value": "",
                "valueType": "date"
            },
            {
                "property": "value",
                "value": "payload",
                "valueType": "msg"
            }
        ],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1780,
        "y": 450,
        "wires": [
            []
        ]
    },
    {
        "id": "0d863cb93ae48013",
        "type": "ha-sensor",
        "z": "ebf476f2acf04a28",
        "name": "Gbox420 LastReport",
        "entityConfig": "b994934f.f56a6",
        "version": 0,
        "state": "",
        "stateType": "date",
        "attributes": [],
        "inputOverride": "merge",
        "outputProperties": [],
        "x": 1410,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "cbd45d01d2d8288b",
        "type": "ui_button",
        "z": "ebf476f2acf04a28",
        "name": "Refresh button",
        "group": "daea9443.544e58",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "Force an MQTT report",
        "color": "",
        "bgcolor": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 930,
        "y": 330,
        "wires": [
            [
                "8f2501a060f9fbfd"
            ]
        ]
    },
    {
        "id": "69d56562.8f32ac",
        "type": "mqtt-broker",
        "name": "Local Mosquitto MQTT",
        "broker": "192.168.1.100",
        "port": "1883",
        "tls": "",
        "clientid": "Node-RED_QNAP",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ee644883.b6e878",
        "type": "ui_group",
        "name": "Hempy bucket 1",
        "tab": "44180358.75752c",
        "order": 8,
        "disp": true,
        "width": 7,
        "collapse": true
    },
    {
        "id": "7fd41d0.72483e4",
        "type": "ui_group",
        "name": "Hempy bucket 2",
        "tab": "44180358.75752c",
        "order": 9,
        "disp": true,
        "width": 7,
        "collapse": true
    },
    {
        "id": "daea9443.544e58",
        "type": "ui_group",
        "name": "GrowBox",
        "tab": "44180358.75752c",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "6dd08518.542dac",
        "type": "ui_group",
        "name": "Alerts",
        "tab": "44180358.75752c",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "4e5bfefb.0aff6",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket1 Weight",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket1 Weight"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:scale"
            },
            {
                "property": "unit_of_measurement",
                "value": "kg"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "c05f5590.554f08",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket1 WetWeight",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket1 WetWeight"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:scale"
            },
            {
                "property": "unit_of_measurement",
                "value": "kg"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "c2a2348a.241288",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket1 DryWeight",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket1 DryWeight"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:scale"
            },
            {
                "property": "unit_of_measurement",
                "value": "kg"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "34cfbe6d.30ecb2",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket1 WasteLimit",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket1 WasteLimit"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:scale"
            },
            {
                "property": "unit_of_measurement",
                "value": "kg"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "1810f5dd.e1f70a",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket1 OverflowTarget",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket1 OverflowTarget"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:scale"
            },
            {
                "property": "unit_of_measurement",
                "value": "kg"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "a7b8ef17.27aca",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket1 EvaporationTarget",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket1 EvaporationTarget"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:scale"
            },
            {
                "property": "unit_of_measurement",
                "value": "kg"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "4ca5e3e6.cea7bc",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket1 PumpSpeed",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket1 PumpSpeed"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:speedometer"
            },
            {
                "property": "unit_of_measurement",
                "value": "%"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "c4ec8a60.1ef9d8",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket1 PumpTimeout",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket1 PumpTimeout"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:car-cruise-control"
            },
            {
                "property": "unit_of_measurement",
                "value": "sec"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "80960212.3dc97",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket1 DrainTime",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket1 DrainTime"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:car-cruise-control"
            },
            {
                "property": "unit_of_measurement",
                "value": "sec"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "6ef16255.a89e9c",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket1 State",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket1 State"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:state-machine"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "335587bb.31cc18",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket1 PumpState",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket1 PumpState"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:state-machine"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "eeca6f66.ee7e3",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket1 NextWatering",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket1 NextWatering"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:scale"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "66587578.298e3c",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket1 WasteRemaining",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket1 WasteRemaining"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:scale"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "4641979e.615218",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket2 WetWeight",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket2 WetWeight"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:scale"
            },
            {
                "property": "unit_of_measurement",
                "value": "kg"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "8bcb4758.199ff8",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket2 WasteWeight",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket2 WasteWeight"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:scale"
            },
            {
                "property": "unit_of_measurement",
                "value": "kg"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "2516a9d2.132946",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket2 Weight",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket2 Weight"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:scale"
            },
            {
                "property": "unit_of_measurement",
                "value": "kg"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "cdf67ec6.8997c",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket2 DryWeight",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket2 DryWeight"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:scale"
            },
            {
                "property": "unit_of_measurement",
                "value": "kg"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "4b34e148.5d4f4",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket2 WasteLimit",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket2 WasteLimit"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:scale"
            },
            {
                "property": "unit_of_measurement",
                "value": "kg"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "3a437979.c90796",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket2 OverflowTarget",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket2 OverflowTarget"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:scale"
            },
            {
                "property": "unit_of_measurement",
                "value": "kg"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "12228ac7.983205",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket2 EvaporationTarget",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket2 EvaporationTarget"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:scale"
            },
            {
                "property": "unit_of_measurement",
                "value": "kg"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "d8a25be1.aed678",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket2 PumpSpeed",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket2 PumpSpeed"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:speedometer"
            },
            {
                "property": "unit_of_measurement",
                "value": "%"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "644f7d5e.3b4294",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket2 PumpTimeout",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket2 PumpTimeout"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:car-cruise-control"
            },
            {
                "property": "unit_of_measurement",
                "value": "sec"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "c54e16f3.818e28",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket2 DrainTime",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket2 DrainTime"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:car-cruise-control"
            },
            {
                "property": "unit_of_measurement",
                "value": "sec"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "354e9929.69f5c6",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket2 State",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket2 State"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:state-machine"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "5c779d59.925d74",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket2 PumpState",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket2 PumpState"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:state-machine"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "e3073514.990498",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket2 NextWatering",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket2 NextWatering"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:scale"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "3df64d05.cf7f42",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Bucket2 WasteRemaining",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Bucket2 WasteRemaining"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:scale"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "31d1b95.cc12746",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 Hempy ModuleState",
        "version": 6,
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 Hempy ModuleState"
            },
            {
                "property": "device_class",
                "value": "sensor"
            },
            {
                "property": "icon",
                "value": "mdi:access-point"
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "resend": true
    },
    {
        "id": "b994934f.f56a6",
        "type": "ha-entity-config",
        "server": "a7c93785.9fe448",
        "deviceConfig": "",
        "name": "sensor config for Gbox420 LastReport",
        "version": "6",
        "entityType": "sensor",
        "haConfig": [
            {
                "property": "name",
                "value": "Gbox420 LastReport"
            },
            {
                "property": "icon",
                "value": "mdi:clock-end"
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "state_class",
                "value": ""
            }
        ],
        "resend": true,
        "debugEnabled": false
    },
    {
        "id": "44180358.75752c",
        "type": "ui_tab",
        "name": "GrowBox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a7c93785.9fe448",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]