Node-RED/flows.json
[{"id":"ad48211d.234ea","type":"tab","label":"Display readings","disabled":false,"info":""},{"id":"69d56562.8f32ac","type":"mqtt-broker","name":"Local Mosquitto MQTT","broker":"192.168.1.228","port":"1883","tls":"","clientid":"Node-RED","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d1c394d0.9917e8","type":"mqtt-broker","name":"localhost","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"65f69390.66fcdc","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Gbox420 Dashboard","hideToolbar":"true","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"44180358.75752c","type":"ui_tab","name":"GrowBox","icon":"dashboard","disabled":false,"hidden":false},{"id":"bda16d8e.5cef7","type":"ui_group","name":"Light1","tab":"44180358.75752c","order":4,"disp":true,"width":"7","collapse":true},{"id":"48150cd2.dd7124","type":"ui_group","name":"Light2","tab":"44180358.75752c","order":5,"disp":true,"width":"7","collapse":true},{"id":"65d54d78.294e74","type":"ui_group","name":"Power sensor","tab":"44180358.75752c","order":2,"disp":true,"width":"7","collapse":true},{"id":"578e9d2e.2450e4","type":"ui_group","name":"Ventilation","tab":"44180358.75752c","order":3,"disp":true,"width":"7","collapse":true},{"id":"e3c44224.e25c8","type":"ui_group","name":"Reservoir","tab":"44180358.75752c","order":6,"disp":true,"width":"7","collapse":true},{"id":"ee644883.b6e878","type":"ui_group","name":"Hempy bucket 1","tab":"44180358.75752c","order":7,"disp":true,"width":7,"collapse":true},{"id":"7fd41d0.72483e4","type":"ui_group","name":"Hempy bucket 2","tab":"44180358.75752c","order":8,"disp":true,"width":7,"collapse":true},{"id":"f4760b27.ac0428","type":"ui_group","name":"Aeroponics","tab":"44180358.75752c","order":9,"disp":true,"width":"7","collapse":true},{"id":"c49219d6.077538","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"2d0d5d32.b98b22","type":"json-db-collection","name":"GrowBoxLogDB","collection":"logData","save":true},{"id":"6a633b0a.f601e4","type":"json-db-collection","name":"GrowBoxLogDB","collection":"logData","save":true},{"id":"a9416d24.42589","type":"json-db-collection","name":"GrowBoxLogDB","collection":"logData","save":true},{"id":"daea9443.544e58","type":"ui_group","name":"GrowBox","tab":"44180358.75752c","order":1,"disp":true,"width":"7","collapse":true},{"id":"da7ba9ac.589008","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"b5adcbfe.bf3528","type":"ui_spacer","name":"spacer","group":"daea9443.544e58","order":4,"width":3,"height":1},{"id":"8d94af29.fee04","type":"ui_spacer","name":"spacer","group":"578e9d2e.2450e4","order":6,"width":1,"height":1},{"id":"398ddc04.2fbbf4","type":"ui_spacer","name":"spacer","group":"578e9d2e.2450e4","order":8,"width":1,"height":1},{"id":"aa90863d.68cd98","type":"ui_spacer","name":"spacer","group":"bda16d8e.5cef7","order":2,"width":1,"height":1},{"id":"883c2e36.ba3f2","type":"ui_spacer","name":"spacer","group":"bda16d8e.5cef7","order":5,"width":1,"height":1},{"id":"c291f1c0.b7ff8","type":"ui_spacer","name":"spacer","group":"bda16d8e.5cef7","order":10,"width":1,"height":1},{"id":"9b1795a3.d9c6c8","type":"ui_spacer","name":"spacer","group":"48150cd2.dd7124","order":2,"width":1,"height":1},{"id":"5b0d7c05.bb5b84","type":"ui_spacer","name":"spacer","group":"48150cd2.dd7124","order":5,"width":1,"height":1},{"id":"ba69d2f5.2c4cc","type":"ui_spacer","name":"spacer","group":"f4760b27.ac0428","order":6,"width":1,"height":1},{"id":"bd66d0b8.46b6d","type":"ui_spacer","name":"spacer","group":"f4760b27.ac0428","order":9,"width":1,"height":1},{"id":"70e8a8db.f06ec8","type":"ui_spacer","name":"spacer","group":"f4760b27.ac0428","order":12,"width":1,"height":1},{"id":"af45ae33.45be6","type":"ui_spacer","name":"spacer","group":"f4760b27.ac0428","order":20,"width":2,"height":1},{"id":"f208f05b.5929a","type":"ui_spacer","name":"spacer","group":"f4760b27.ac0428","order":21,"width":1,"height":1},{"id":"f1fa4959.7c7908","type":"ui_spacer","name":"spacer","group":"f4760b27.ac0428","order":25,"width":3,"height":1},{"id":"54146217.1d083c","type":"mqtt in","z":"ad48211d.234ea","name":"","topic":"Gbox420/","qos":"1","datatype":"json","broker":"69d56562.8f32ac","x":80,"y":120,"wires":[["fc2961cd.9796","ad79daa8.9e5058"]]},{"id":"ad79daa8.9e5058","type":"debug","z":"ad48211d.234ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":180,"wires":[]},{"id":"8d469d50.59bdf","type":"file","z":"ad48211d.234ea","name":"Gbox420Log","filename":"Gbox420Log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":670,"y":60,"wires":[[]]},{"id":"8676ac34.27de2","type":"inject","z":"ad48211d.234ea","name":"Test report","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Gbox420/","payload":"{\"Log\":{\"IFan\":{\"S\":\"0\"},\"EFan\":{\"S\":\"2\"},\"APump1\":{\"S\":\"1\"},\"Lt1\":{\"S\":\"0\",\"B\":\"85\",\"T\":\"1\",\"On\":\"08:20\",\"Of\":\"02:20\"},\"Lt2\":{\"S\":\"0\",\"B\":\"0\",\"T\":\"0\",\"On\":\"04:20\",\"Of\":\"16:20\"},\"LtSen1\":{\"R\":\"770\",\"D\":\"0\"},\"DHT1\":{\"T\":\"26.00\",\"H\":\"44.70\"},\"Pow1\":{\"P\":\"434.90\",\"E\":\"538.44\",\"V\":\"229.60\",\"C\":\"1.97\",\"F\":\"50.00\",\"PF\":\"0.96\"},\"Hemp1\":{\"S\":\"1\",\"H1\":\"0\",\"P1\":\"0\",\"PS1\":\"100\",\"WB1\":\"19.00\",\"WR1\":\"1.56\",\"DW1\":\"18.13\",\"WW1\":\"20.13\",\"ET1\":\"2.00\",\"OT1\":\"0.20\",\"WL1\":\"13.00\",\"H2\":\"0\",\"P2\":\"0\",\"PS2\":\"100\",\"WB2\":\"20.36\",\"WR2\":\"1.28\",\"DW2\":\"19.34\",\"WW2\":\"21.34\",\"ET2\":\"2.00\",\"OT2\":\"0.20\",\"WL2\":\"13.00\"},\"Aero1\":{\"S\":\"1\",\"P\":\"6.56\",\"W\":\"8.69\",\"Mi\":\"5.00\",\"Ma\":\"7.00\",\"AS\":\"1\",\"LS\":\"6.73\",\"PSt\":\"6\",\"PS\":\"100\",\"SE\":\"1\",\"D\":\"3.00\",\"DI\":\"6\",\"NI\":\"10\"},\"Res1\":{\"S\":\"1\",\"P\":\"-2.71\",\"T\":\"1568.20\",\"W\":\"55.89\",\"WT\":\"11.19\",\"AT\":\"23.60\",\"H\":\"37.00\"},\"Main1\":{\"M\":\"1\",\"D\":\"1\"}}}","payloadType":"json","x":100,"y":60,"wires":[["d9260831.fced08"]]},{"id":"7511bfe3.2d42","type":"change","z":"ad48211d.234ea","name":"Brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.B","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":480,"wires":[["572925aa.9fabdc"]]},{"id":"779773d8.a94a6c","type":"change","z":"ad48211d.234ea","name":"Select LightSensor1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.LtSen1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":300,"wires":[["306d6e1a.678692","157f6846.70e4b8","4f3a418f.fed1c"]]},{"id":"89f94022.67236","type":"ui_switch","z":"ad48211d.234ea","name":"","label":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i>&nbsp;</font>Timer","tooltip":"","group":"bda16d8e.5cef7","order":3,"width":3,"height":1,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":1130,"y":540,"wires":[["4834216d.6ca6e","3bf53a47.cc81a6"]]},{"id":"4834216d.6ca6e","type":"function","z":"ad48211d.234ea","name":"Timer","func":"msg.color = (msg.payload.T === \"1\")  ?  \"lime\"  :  \"red\"\nmsg.payload = (msg.payload.T === \"1\")  ?  true  :  false\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":540,"wires":[["89f94022.67236"]]},{"id":"d9260831.fced08","type":"change","z":"ad48211d.234ea","name":"Select Log","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Log","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":60,"wires":[["8d469d50.59bdf","a4643c6b.4856d","93cd6d05.ee8bf","779773d8.a94a6c","7d12f98.c5a1d08","bbf1d5fc.834758","48727a7.ee40884","a28b1eed.4f941","9656d29a.bbcfb","5521b8c9.998bf8","25d2d938.870b16","6ec20037.2a26d","5331ae9e.f6b7","74663545.7f5b3c","a64217a3.1cbc88"]]},{"id":"a4643c6b.4856d","type":"change","z":"ad48211d.234ea","name":"Select Light1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Lt1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":440,"wires":[["7511bfe3.2d42","bc93d771.cb4508","4834216d.6ca6e","9b792bf3.5614f8","2a7da9fb.699f46","48329e77.9b803"]]},{"id":"bc93d771.cb4508","type":"debug","z":"ad48211d.234ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":440,"wires":[]},{"id":"adbcbe69.5fe4a","type":"comment","z":"ad48211d.234ea","name":"Displaying data received from the Gbox420 Main module over MQTT","info":"https://github.com/growboxguy/Gbox420/blob/master/Gbox420_Mega_Main/src/Modules_Web/HempyModule_Web.cpp","x":620,"y":20,"wires":[]},{"id":"cfbd63bd.5446d","type":"ui_switch","z":"ad48211d.234ea","name":"","label":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i>&nbsp;</font>State","tooltip":"","group":"bda16d8e.5cef7","order":1,"width":3,"height":1,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":1130,"y":600,"wires":[["9b792bf3.5614f8","2ea13a97.57c7c6"]]},{"id":"9b792bf3.5614f8","type":"function","z":"ad48211d.234ea","name":"State","func":"msg.color = (msg.payload.S === \"1\" || msg.payload === true)  ?  \"lime\"  :  \"red\";\nmsg.payload = (msg.payload.S === \"1\" || msg.payload === true)  ?  true  :  false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":600,"wires":[["cfbd63bd.5446d"]]},{"id":"d8410c98.c51aa","type":"ui_text_input","z":"ad48211d.234ea","name":"On Time input","label":"On","tooltip":"","group":"bda16d8e.5cef7","order":4,"width":3,"height":1,"passthru":false,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":1160,"y":660,"wires":[["503259da.7a7198"]]},{"id":"2a7da9fb.699f46","type":"change","z":"ad48211d.234ea","name":"On Time","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.On","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":660,"wires":[["d8410c98.c51aa"]]},{"id":"593ed756.aad768","type":"ui_text_input","z":"ad48211d.234ea","name":"Off Time input","label":"Off","tooltip":"","group":"bda16d8e.5cef7","order":6,"width":3,"height":1,"passthru":false,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":1160,"y":720,"wires":[["9aecc69.d0e7138"]]},{"id":"48329e77.9b803","type":"change","z":"ad48211d.234ea","name":"Off Time","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Of","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":720,"wires":[["593ed756.aad768"]]},{"id":"93cd6d05.ee8bf","type":"change","z":"ad48211d.234ea","name":"Select Light2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Lt2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":780,"wires":[["ba5eecc3.8885e","934b9e06.387c9","9432c5ea.44b788","bf28f536.066678","c0fc146a.838f08","fc5a9e1f.66f97"]]},{"id":"ba5eecc3.8885e","type":"change","z":"ad48211d.234ea","name":"Brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.B","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":820,"wires":[["b79e39a6.98f488"]]},{"id":"2bf0de05.9aa562","type":"ui_switch","z":"ad48211d.234ea","name":"","label":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i>&nbsp;</font>Timer","tooltip":"","group":"48150cd2.dd7124","order":3,"width":3,"height":1,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":1130,"y":880,"wires":[["5e221dd8.93dc84"]]},{"id":"934b9e06.387c9","type":"function","z":"ad48211d.234ea","name":"Timer","func":"msg.color = (msg.payload.T === \"1\")  ?  \"lime\"  :  \"red\"\nmsg.payload = (msg.payload.T === \"1\")  ?  true  :  false\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":880,"wires":[["2bf0de05.9aa562"]]},{"id":"9432c5ea.44b788","type":"debug","z":"ad48211d.234ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":780,"wires":[]},{"id":"b1f8e5ad.0c2158","type":"ui_switch","z":"ad48211d.234ea","name":"","label":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i>&nbsp;</font>State","tooltip":"","group":"48150cd2.dd7124","order":1,"width":3,"height":1,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":1130,"y":940,"wires":[["bf28f536.066678","aef45783.d9dc78"]]},{"id":"bf28f536.066678","type":"function","z":"ad48211d.234ea","name":"State","func":"msg.color = (msg.payload.S === \"1\" || msg.payload === true)  ?  \"lime\"  :  \"red\";\nmsg.payload = (msg.payload.S === \"1\" || msg.payload === true)  ?  true  :  false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":940,"wires":[["b1f8e5ad.0c2158"]]},{"id":"c6c972a5.3029a","type":"ui_text_input","z":"ad48211d.234ea","name":"Off Time input","label":"Off","tooltip":"","group":"48150cd2.dd7124","order":6,"width":3,"height":1,"passthru":false,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":1160,"y":1060,"wires":[["3fe27517.c4181a"]]},{"id":"331759bd.56bc36","type":"ui_text_input","z":"ad48211d.234ea","name":"On Time input","label":"On","tooltip":"","group":"48150cd2.dd7124","order":4,"width":3,"height":1,"passthru":false,"mode":"time","delay":"0","topic":"topic","topicType":"msg","x":1160,"y":1000,"wires":[["720a7aec.964a74"]]},{"id":"c0fc146a.838f08","type":"change","z":"ad48211d.234ea","name":"On Time","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.On","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":921,"y":1000,"wires":[["331759bd.56bc36"]]},{"id":"fc5a9e1f.66f97","type":"change","z":"ad48211d.234ea","name":"Off Time","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Of","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":922,"y":1060,"wires":[["c6c972a5.3029a"]]},{"id":"306d6e1a.678692","type":"change","z":"ad48211d.234ea","name":"Reading","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.R","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":380,"wires":[["98c46e2d.b8a94"]]},{"id":"7d12f98.c5a1d08","type":"change","z":"ad48211d.234ea","name":"Select Power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Pow1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1120,"wires":[["1fbddc27.363694","a26ad748.dc15c8","8a255e70.59f22","cfcb35cf.398698","c156de5d.dc338"]]},{"id":"157f6846.70e4b8","type":"function","z":"ad48211d.234ea","name":"Dark/Bright","func":"msg.text = (msg.payload.D === \"1\")  ?  \"Dark\"  :  \"Bright\";\nmsg.color = (msg.payload.D === \"1\")  ?  \"gray\"  :  \"yellow\";\nmsg.payload = (msg.payload.D === \"1\")  ?  false  :  true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":340,"wires":[["19e84817.7224d8"]]},{"id":"19e84817.7224d8","type":"ui_text","z":"ad48211d.234ea","group":"bda16d8e.5cef7","order":8,"width":2,"height":1,"name":"Dark/Bright","label":"","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i>&nbsp;</font>{{msg.text}}","layout":"row-left","x":1150,"y":340,"wires":[]},{"id":"1fbddc27.363694","type":"ui_level","z":"ad48211d.234ea","group":"65d54d78.294e74","order":1,"width":7,"height":1,"name":"","label":"Power","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"600","segWarn":"","segHigh":"","unit":"W","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload.P","peaktime":3000,"x":910,"y":1160,"wires":[]},{"id":"a26ad748.dc15c8","type":"ui_text","z":"ad48211d.234ea","group":"65d54d78.294e74","order":2,"width":3,"height":1,"name":"Energy","label":"Energy","format":"{{msg.payload.E}} kWh","layout":"col-center","x":920,"y":1200,"wires":[]},{"id":"8a255e70.59f22","type":"ui_text","z":"ad48211d.234ea","group":"65d54d78.294e74","order":3,"width":2,"height":1,"name":"Voltage","label":"Voltage","format":"{{msg.payload.V}} V","layout":"col-center","x":920,"y":1240,"wires":[]},{"id":"cfcb35cf.398698","type":"ui_text","z":"ad48211d.234ea","group":"65d54d78.294e74","order":4,"width":2,"height":1,"name":"Current","label":"Current","format":"{{msg.payload.C}} A","layout":"col-center","x":920,"y":1280,"wires":[]},{"id":"bbf1d5fc.834758","type":"change","z":"ad48211d.234ea","name":"Select Temp/Humidity","rules":[{"t":"set","p":"InternalTemp","pt":"msg","to":"payload.DHT1.T","tot":"msg"},{"t":"set","p":"InternalHumidity","pt":"msg","to":"payload.DHT1.H","tot":"msg"},{"t":"set","p":"ExternalTemp","pt":"msg","to":"payload.Res1.AT","tot":"msg"},{"t":"set","p":"ExternalHumidity","pt":"msg","to":"payload.Res1.H","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1340,"wires":[["5a114e4.31fcab","1341235b.1039ad","39385860.7790c8","a653b118.af6aa","49cbddad.f72b04"]]},{"id":"5a114e4.31fcab","type":"debug","z":"ad48211d.234ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":1340,"wires":[]},{"id":"1341235b.1039ad","type":"ui_gauge","z":"ad48211d.234ea","name":"","group":"578e9d2e.2450e4","order":1,"width":4,"height":3,"gtype":"gage","title":"Internal Temp","label":"°C","format":"{{msg.InternalTemp}}","min":0,"max":"40","colors":["#007db3","#00e645","#ca3838"],"seg1":"20","seg2":"30","x":940,"y":1380,"wires":[]},{"id":"39385860.7790c8","type":"ui_gauge","z":"ad48211d.234ea","name":"","group":"578e9d2e.2450e4","order":2,"width":3,"height":3,"gtype":"donut","title":"Internal Humidity","label":"%","format":"{{msg.InternalHumidity}}","min":0,"max":"100","colors":["#ea7f06","#00e645","#0bacc1"],"seg1":"30","seg2":"65","x":950,"y":1420,"wires":[]},{"id":"a653b118.af6aa","type":"ui_gauge","z":"ad48211d.234ea","name":"External Temp","group":"578e9d2e.2450e4","order":3,"width":4,"height":3,"gtype":"gage","title":"External Temp","label":"°C","format":"{{msg.ExternalTemp}}","min":0,"max":"40","colors":["#007db3","#00e645","#ca3838"],"seg1":"20","seg2":"30","x":940,"y":1460,"wires":[]},{"id":"49cbddad.f72b04","type":"ui_gauge","z":"ad48211d.234ea","name":"External Humidity","group":"578e9d2e.2450e4","order":4,"width":3,"height":3,"gtype":"donut","title":"External Humidity","label":"%","format":"{{msg.ExternalHumidity}}","min":0,"max":"100","colors":["#ea7f06","#00e645","#0bacc1"],"seg1":"30","seg2":"65","x":950,"y":1500,"wires":[]},{"id":"c156de5d.dc338","type":"debug","z":"ad48211d.234ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":1120,"wires":[]},{"id":"4f3a418f.fed1c","type":"debug","z":"ad48211d.234ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":300,"wires":[]},{"id":"98c46e2d.b8a94","type":"ui_text","z":"ad48211d.234ea","group":"bda16d8e.5cef7","order":9,"width":4,"height":1,"name":"Current reading","label":"Current reading: ","format":"{{msg.payload}}","layout":"row-center","x":1160,"y":380,"wires":[]},{"id":"48727a7.ee40884","type":"change","z":"ad48211d.234ea","name":"Select Internal Fan","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.IFan.S)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1560,"wires":[["d0755c98.9c41","342e644e.20e71c"]]},{"id":"d0755c98.9c41","type":"debug","z":"ad48211d.234ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":1560,"wires":[]},{"id":"a28b1eed.4f941","type":"change","z":"ad48211d.234ea","name":"Select Exhaust Fan","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.EFan.S)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1740,"wires":[["3b840493.b97b5c","fdd52fd7.270fd"]]},{"id":"3b840493.b97b5c","type":"debug","z":"ad48211d.234ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":1740,"wires":[]},{"id":"55535b99.62c774","type":"ui_dropdown","z":"ad48211d.234ea","name":"Exhaust Fan","label":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i>&nbsp;</font>Exhaust Fan","tooltip":"","place":"Fan speed","group":"578e9d2e.2450e4","order":7,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"OFF","value":0,"type":"num"},{"label":"LOW","value":1,"type":"num"},{"label":"HIGH","value":2,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":1150,"y":1780,"wires":[["43509733.b2d928"]]},{"id":"178b2cf3.a0fdd3","type":"ui_dropdown","z":"ad48211d.234ea","name":"Internal Fan","label":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i>&nbsp;</font>Internal Fan","tooltip":"","place":"Fan speed","group":"578e9d2e.2450e4","order":5,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"OFF","value":0,"type":"num"},{"label":"LOW","value":1,"type":"num"},{"label":"HIGH","value":2,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":1150,"y":1600,"wires":[["984b1102.76883"]]},{"id":"fdd52fd7.270fd","type":"function","z":"ad48211d.234ea","name":"Speed color","func":"switch(msg.payload) {\n  case 0:\n    msg.color = \"gray\";\n    break;\n  case 1:\n     msg.color = \"lime\";\n    break;\n  case 2:\n     msg.color = \"orange\";\n    break;\n  default:\n     msg.color = \"black\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":1780,"wires":[["55535b99.62c774"]]},{"id":"342e644e.20e71c","type":"function","z":"ad48211d.234ea","name":"Speed color","func":"switch(msg.payload) {\n  case 0:\n    msg.color = \"gray\";\n    break;\n  case 1:\n     msg.color = \"lime\";\n    break;\n  case 2:\n     msg.color = \"orange\";\n    break;\n  default:\n     msg.color = \"black\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":1600,"wires":[["178b2cf3.a0fdd3"]]},{"id":"9656d29a.bbcfb","type":"change","z":"ad48211d.234ea","name":"Select Reservoir","rules":[{"t":"set","p":"AirPump","pt":"msg","to":"$number(msg.payload.APump1.S)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload.Res1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1920,"wires":[["3d0c4fd9.a5e69","2b518961.c0f476","672c5c66.fee584","3a059e45.946e32","7080005b.e359c","456b7e20.981f3"]]},{"id":"3d0c4fd9.a5e69","type":"debug","z":"ad48211d.234ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":1920,"wires":[]},{"id":"a62ba806.ebc148","type":"ui_switch","z":"ad48211d.234ea","name":"Air pump state","label":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i>&nbsp;</font>AirPump","tooltip":"","group":"e3c44224.e25c8","order":1,"width":4,"height":1,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":1160,"y":1960,"wires":[["2b518961.c0f476","9569fd0c.07232"]]},{"id":"2b518961.c0f476","type":"function","z":"ad48211d.234ea","name":"AirPump Status","func":"msg.color = (msg.AirPump === 1 || msg.payload === true)  ?  \"lime\"  :  \"gray\";\nmsg.payload = (msg.AirPump === 1 || msg.payload === true)  ?  true  :  false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":1960,"wires":[["a62ba806.ebc148"]]},{"id":"672c5c66.fee584","type":"ui_text","z":"ad48211d.234ea","group":"e3c44224.e25c8","order":2,"width":3,"height":1,"name":"pH","label":"pH","format":"{{msg.payload.P}}","layout":"row-center","x":910,"y":2020,"wires":[]},{"id":"3a059e45.946e32","type":"ui_gauge","z":"ad48211d.234ea","name":"Water Temp","group":"e3c44224.e25c8","order":3,"width":4,"height":3,"gtype":"gage","title":"Water Temp","label":"°C","format":"{{msg.payload.WT}}","min":0,"max":"40","colors":["#007db3","#00e645","#ca3838"],"seg1":"15","seg2":"25","x":930,"y":2060,"wires":[]},{"id":"7080005b.e359c","type":"ui_gauge","z":"ad48211d.234ea","name":"Reservoir Weight","group":"e3c44224.e25c8","order":4,"width":3,"height":3,"gtype":"wave","title":"Weight","label":"kg","format":"{{msg.payload.W}}","min":0,"max":"65","colors":["#ea7f06","#7e8dfb","#002aff"],"seg1":"10","seg2":"40","x":950,"y":2100,"wires":[]},{"id":"456b7e20.981f3","type":"ui_level","z":"ad48211d.234ea","group":"e3c44224.e25c8","order":5,"width":0,"height":0,"name":"TDS","label":"TDS","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"2000","segWarn":"800","segHigh":"1600","unit":"ppm","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"valuedriven","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload.T","peaktime":3000,"x":910,"y":2140,"wires":[]},{"id":"5666cac7.c4f5f4","type":"debug","z":"ad48211d.234ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":2200,"wires":[]},{"id":"f664ddca.dc5c2","type":"ui_gauge","z":"ad48211d.234ea","name":"Bucket Weight","group":"ee644883.b6e878","order":3,"width":4,"height":3,"gtype":"wave","title":"Bucket Weight","label":"kg","format":"{{msg.payload.WB1}}","min":0,"max":"25","colors":["#ea7f06","#7e8dfb","#002aff"],"seg1":"10","seg2":"40","x":940,"y":2240,"wires":[]},{"id":"b967de33.11ca2","type":"ui_gauge","z":"ad48211d.234ea","name":"Waste Weight","group":"ee644883.b6e878","order":4,"width":3,"height":3,"gtype":"wave","title":"Waste Weight","label":"kg","format":"{{msg.payload.WR1}}","min":0,"max":"15","colors":["#ea7f06","#7e8dfb","#002aff"],"seg1":"10","seg2":"40","x":940,"y":2280,"wires":[]},{"id":"bcf6f3e8.2eb87","type":"ui_numeric","z":"ad48211d.234ea","name":"Dry weight","label":"Dry","tooltip":"","group":"ee644883.b6e878","order":6,"width":4,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}} kg","min":0,"max":"25","step":"0.1","x":1150,"y":2580,"wires":[["327fdd94.fb85b2"]]},{"id":"aa3d335f.adfba","type":"ui_numeric","z":"ad48211d.234ea","name":"Waste limit","label":"Waste limit","tooltip":"","group":"ee644883.b6e878","order":7,"width":3,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}} kg","min":0,"max":"25","step":"0.5","x":1150,"y":2640,"wires":[["c21dd1a.088853"]]},{"id":"cd035bb7.c41d28","type":"ui_numeric","z":"ad48211d.234ea","name":"Overflow target","label":"Overflow target","tooltip":"","group":"ee644883.b6e878","order":8,"width":4,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}} kg","min":0,"max":"1","step":"0.1","x":1160,"y":2700,"wires":[["b6d8cc90.fc92"]]},{"id":"fc55ad36.db973","type":"ui_numeric","z":"ad48211d.234ea","name":"Evaporation target","label":"Evaporation target","tooltip":"","group":"ee644883.b6e878","order":10,"width":4,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}} kg","min":0,"max":"6","step":1,"x":1170,"y":2760,"wires":[["b70e9be7.364f58"]]},{"id":"5521b8c9.998bf8","type":"change","z":"ad48211d.234ea","name":"Select Hempy module","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Hemp1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":2200,"wires":[["f0be42b3.a3498","454e57c2.5eb038","39cc1f19.3ed4e","5666cac7.c4f5f4","f122ff1b.4ff01","9c5290a9.dbd73","f664ddca.dc5c2","b967de33.11ca2","e70add15.0dfd9","9e59e80b.7bfe98","53e438e6.b8fcb8","1e0a91f.a7bbe6e","5d80fd31.4cc564"]]},{"id":"f0be42b3.a3498","type":"change","z":"ad48211d.234ea","name":"Evaporation target","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.ET1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":2760,"wires":[["fc55ad36.db973"]]},{"id":"454e57c2.5eb038","type":"ui_text","z":"ad48211d.234ea","group":"ee644883.b6e878","order":5,"width":3,"height":1,"name":"Wet weight","label":"Wet","format":"{{msg.payload.WW1}} kg","layout":"row-spread","x":930,"y":2320,"wires":[]},{"id":"39cc1f19.3ed4e","type":"change","z":"ad48211d.234ea","name":"Waste limit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.WL1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":2640,"wires":[["aa3d335f.adfba"]]},{"id":"f122ff1b.4ff01","type":"change","z":"ad48211d.234ea","name":"Overflow target","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.OT1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":2700,"wires":[["cd035bb7.c41d28"]]},{"id":"9c5290a9.dbd73","type":"change","z":"ad48211d.234ea","name":"Dry weight","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.DW1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":2580,"wires":[["bcf6f3e8.2eb87"]]},{"id":"e70add15.0dfd9","type":"change","z":"ad48211d.234ea","name":"Pump speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.PS1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":2820,"wires":[["dc83314f.d9ff9"]]},{"id":"dc83314f.d9ff9","type":"ui_slider","z":"ad48211d.234ea","name":"Pump speed","label":"Speed","tooltip":"","group":"ee644883.b6e878","order":12,"width":4,"height":1,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":1150,"y":2820,"wires":[["13060ec8.0d3901"]]},{"id":"4757b8fa.753ae8","type":"ui_text","z":"ad48211d.234ea","group":"ee644883.b6e878","order":2,"width":3,"height":1,"name":"Pump state","label":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i>&nbsp;</font>Pump","format":"{{msg.payload}}","layout":"col-center","x":1150,"y":3040,"wires":[]},{"id":"9e59e80b.7bfe98","type":"function","z":"ad48211d.234ea","name":"Pump state","func":"switch(msg.payload.P1) {\n  case \"0\":\n    msg.payload = \"DISABLED\";\n    msg.color = \"red\";\n    break;\n  case \"1\":\n     msg.payload = \"IDLE\";\n     msg.color = \"lime\";\n    break;\n  case \"2\":\n     msg.payload = \"RUNNING\";\n     msg.color = \"orange\";\n    break;\n  default:\n     msg.payload = \"???\";\n     msg.color = \"black\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":3040,"wires":[["4757b8fa.753ae8"]]},{"id":"bebbb0cf.ac5d8","type":"ui_text","z":"ad48211d.234ea","group":"ee644883.b6e878","order":1,"width":4,"height":1,"name":"Hempy state","label":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i>&nbsp;</font>State","format":"{{msg.payload}}","layout":"col-center","x":1150,"y":3000,"wires":[]},{"id":"53e438e6.b8fcb8","type":"function","z":"ad48211d.234ea","name":"Hempy state","func":"switch(msg.payload.H1) {\n  case \"0\":\n    msg.payload = \"DISABLED\";\n    msg.color = \"red\";\n    break;\n  case \"1\":\n     msg.payload = \"IDLE\";\n     msg.color = \"lime\";\n    break;\n  case \"2\":\n     msg.payload = \"WATERING\";\n     msg.color = \"orange\";\n    break;\n  case \"3\":\n     msg.payload = \"DRAINING\";\n     msg.color = \"blue\";\n    break;\n  default:\n     msg.payload = \"???\";\n     msg.color = \"black\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":3000,"wires":[["bebbb0cf.ac5d8"]]},{"id":"16e161f8.665d5e","type":"ui_numeric","z":"ad48211d.234ea","name":"Pump timeout","label":"Pump timeout","tooltip":"","group":"ee644883.b6e878","order":11,"width":3,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}} sec","min":0,"max":"300","step":"1","x":1160,"y":2880,"wires":[["b80a7374.003f1"]]},{"id":"d334dd2c.90189","type":"ui_numeric","z":"ad48211d.234ea","name":"Drain time","label":"Drain time","tooltip":"","group":"ee644883.b6e878","order":9,"width":3,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}} sec","min":0,"max":"3600","step":"1","x":1150,"y":2940,"wires":[["9e2d6522.b4e6c8"]]},{"id":"5d80fd31.4cc564","type":"change","z":"ad48211d.234ea","name":"Drain time","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.DT1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":2940,"wires":[["d334dd2c.90189"]]},{"id":"1e0a91f.a7bbe6e","type":"change","z":"ad48211d.234ea","name":"Pump timeout","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.PT1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":2880,"wires":[["16e161f8.665d5e"]]},{"id":"b724c5d6.d25ac8","type":"debug","z":"ad48211d.234ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":3100,"wires":[]},{"id":"15e9ff47.45a781","type":"ui_gauge","z":"ad48211d.234ea","name":"Bucket Weight","group":"7fd41d0.72483e4","order":3,"width":4,"height":3,"gtype":"wave","title":"Bucket Weight","label":"kg","format":"{{msg.payload.WB2}}","min":0,"max":"25","colors":["#ea7f06","#7e8dfb","#002aff"],"seg1":"10","seg2":"40","x":940,"y":3140,"wires":[]},{"id":"48385fd6.a22fe","type":"ui_gauge","z":"ad48211d.234ea","name":"Waste Weight","group":"7fd41d0.72483e4","order":4,"width":3,"height":3,"gtype":"wave","title":"Waste Weight","label":"kg","format":"{{msg.payload.WR2}}","min":0,"max":"15","colors":["#ea7f06","#7e8dfb","#002aff"],"seg1":"10","seg2":"40","x":940,"y":3180,"wires":[]},{"id":"c887632a.e5532","type":"ui_numeric","z":"ad48211d.234ea","name":"Dry weight","label":"Dry","tooltip":"","group":"7fd41d0.72483e4","order":6,"width":4,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}} kg","min":0,"max":"25","step":"0.1","x":1150,"y":3480,"wires":[["5ca33d5f.513b64"]]},{"id":"12eced25.943673","type":"ui_numeric","z":"ad48211d.234ea","name":"Waste limit","label":"Waste limit","tooltip":"","group":"7fd41d0.72483e4","order":7,"width":3,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}} kg","min":0,"max":"25","step":"0.5","x":1150,"y":3540,"wires":[["844a5aec.071d68"]]},{"id":"55f0dbf.647df24","type":"ui_numeric","z":"ad48211d.234ea","name":"Overflow target","label":"Overflow target","tooltip":"","group":"7fd41d0.72483e4","order":8,"width":4,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}} kg","min":0,"max":"1","step":"0.1","x":1160,"y":3600,"wires":[["48cbf889.b3a058"]]},{"id":"bb5be55a.14c048","type":"ui_numeric","z":"ad48211d.234ea","name":"Evaporation target","label":"Evaporation target","tooltip":"","group":"7fd41d0.72483e4","order":10,"width":4,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}} kg","min":0,"max":"6","step":1,"x":1170,"y":3660,"wires":[["8d17b283.9fd5b"]]},{"id":"25d2d938.870b16","type":"change","z":"ad48211d.234ea","name":"Select Hempy module","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Hemp1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":3100,"wires":[["9985c00e.7fe09","40ff2ffa.0fd26","3d49ebc9.298734","b724c5d6.d25ac8","3f267e85.e1e242","124aa07.955836","15e9ff47.45a781","48385fd6.a22fe","5a08478.3eff5b8","f2b835da.1d3b48","87367b80.1402a8","ad4e799c.8557f8","22fb040b.c47b4c"]]},{"id":"9985c00e.7fe09","type":"change","z":"ad48211d.234ea","name":"Evaporation target","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.ET2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":3660,"wires":[["bb5be55a.14c048"]]},{"id":"40ff2ffa.0fd26","type":"ui_text","z":"ad48211d.234ea","group":"7fd41d0.72483e4","order":5,"width":3,"height":1,"name":"Wet weight","label":"Wet","format":"{{msg.payload.WW2}} kg","layout":"row-spread","x":930,"y":3220,"wires":[]},{"id":"3d49ebc9.298734","type":"change","z":"ad48211d.234ea","name":"Waste limit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.WL2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":3540,"wires":[["12eced25.943673"]]},{"id":"3f267e85.e1e242","type":"change","z":"ad48211d.234ea","name":"Overflow target","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.OT2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":3600,"wires":[["55f0dbf.647df24"]]},{"id":"124aa07.955836","type":"change","z":"ad48211d.234ea","name":"Dry weight","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.DW2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":3480,"wires":[["c887632a.e5532"]]},{"id":"5a08478.3eff5b8","type":"change","z":"ad48211d.234ea","name":"Pump speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.PS2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":3720,"wires":[["cc3bc191.b39f8"]]},{"id":"cc3bc191.b39f8","type":"ui_slider","z":"ad48211d.234ea","name":"Pump speed","label":"Speed","tooltip":"","group":"7fd41d0.72483e4","order":12,"width":4,"height":1,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":1150,"y":3720,"wires":[["c4cfcdf2.4f1af"]]},{"id":"a072432c.7606","type":"ui_numeric","z":"ad48211d.234ea","name":"Pump timeout","label":"Pump timeout","tooltip":"","group":"7fd41d0.72483e4","order":11,"width":3,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}} sec","min":0,"max":"300","step":"1","x":1160,"y":3780,"wires":[["1e3da504.45322b"]]},{"id":"9889b8a0.355188","type":"ui_numeric","z":"ad48211d.234ea","name":"Drain time","label":"Drain time","tooltip":"","group":"7fd41d0.72483e4","order":9,"width":3,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}} sec","min":0,"max":"3600","step":"1","x":1150,"y":3840,"wires":[["4abcb68c.eb3828"]]},{"id":"87367b80.1402a8","type":"change","z":"ad48211d.234ea","name":"Drain time","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.DT2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":3840,"wires":[["9889b8a0.355188"]]},{"id":"f2b835da.1d3b48","type":"change","z":"ad48211d.234ea","name":"Pump timeout","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.PT2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":3780,"wires":[["a072432c.7606"]]},{"id":"6ec20037.2a26d","type":"change","z":"ad48211d.234ea","name":"Select Aero module","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Aero1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":4000,"wires":[["ef2444e6.cd5a08","bd8f1f55.5ec27","e91058f4.571878","5af057b8.467ca8","3cafbeff.271972","4721b6.2c2ede4c","1d1b4a5.1a398b6","ebcdf9d4.cb0a18","d2fc4603.7dce58","85da5c52.aca2b","39cde3c1.e45f7c","120bbb76.541295","bb903e03.bc2d7","63f1c294.a12c4c","efc56cf5.5f0f"]]},{"id":"ef2444e6.cd5a08","type":"debug","z":"ad48211d.234ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":4000,"wires":[]},{"id":"7c1441fc.68778","type":"ui_text","z":"ad48211d.234ea","group":"f4760b27.ac0428","order":2,"width":3,"height":1,"name":"Pressure pump state","label":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i>&nbsp;</font>Pump","format":"{{msg.payload}}","layout":"col-center","x":1180,"y":4660,"wires":[]},{"id":"e91058f4.571878","type":"function","z":"ad48211d.234ea","name":"Pressure pump state","func":"switch(msg.payload.PSt) {\n  case \"0\":\n    msg.payload = \"DISABLED\";\n    msg.color = \"red\";\n    break;\n  case \"1\":\n     msg.payload = \"IDLE\";\n     msg.color = \"lime\";\n    break;\n  case \"2\":\n     msg.payload = \"PRIMING\";\n     msg.color = \"yellow\";\n    break;\n  case \"3\":\n     msg.payload = \"RUNNING\";\n     msg.color = \"orange\";\n    break;\n  case \"4\":\n     msg.payload = \"BLOWOFF\";\n     msg.color = \"yellowgreen\";\n    break;\n  case \"5\":\n     msg.payload = \"MIX\";\n     msg.color = \"blue\";\n    break;\n  case \"6\":\n     msg.payload = \"BYPASSCLOSING\";\n     msg.color = \"deeppink\";\n    break;\n  case \"7\":\n     msg.payload = \"BYPASSOPEN\";\n     msg.color = \"magenta\";\n    break;\n  default:\n     msg.payload = \"???\";\n     msg.color = \"black\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":4660,"wires":[["7c1441fc.68778"]]},{"id":"fe1164d6.2c5d58","type":"ui_text","z":"ad48211d.234ea","group":"f4760b27.ac0428","order":1,"width":4,"height":1,"name":"Aero state","label":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i>&nbsp;</font>State","format":"{{msg.payload}}","layout":"col-center","x":1150,"y":4620,"wires":[]},{"id":"bd8f1f55.5ec27","type":"function","z":"ad48211d.234ea","name":"Aero state","func":"switch(msg.payload.AS) {\n  case \"0\":\n    msg.payload = \"DISABLED\";\n    msg.color = \"red\";\n    break;\n  case \"1\":\n     msg.payload = \"IDLE\";\n     msg.color = \"lime\";\n    break;\n  case \"2\":\n     msg.payload = \"SPRAY\";\n     msg.color = \"blue\";\n    break;\n  case \"3\":\n     msg.payload = \"STOPSPRAY\";\n     msg.color = \"yellow\";\n    break;\n  case \"4\":\n     msg.payload = \"RELEASE\";\n     msg.color = \"magenta\";\n    break;\n  case \"5\":\n     msg.payload = \"REFILL\";\n     msg.color = \"yellowgreen\";\n    break;\n  case \"6\":\n     msg.payload = \"DRAIN\";\n     msg.color = \"orange\";\n    break;\n  case \"7\":\n     msg.payload = \"MIX\";\n     msg.color = \"deeppink\";\n    break;\n  default:\n     msg.payload = \"???\";\n     msg.color = \"black\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":4620,"wires":[["fe1164d6.2c5d58"]]},{"id":"3cafbeff.271972","type":"ui_gauge","z":"ad48211d.234ea","name":"Aero Weight","group":"f4760b27.ac0428","order":4,"width":3,"height":3,"gtype":"wave","title":"Aero Weight","label":"kg","format":"{{msg.payload.W}}","min":0,"max":"25","colors":["#ea7f06","#7e8dfb","#002aff"],"seg1":"10","seg2":"40","x":930,"y":4080,"wires":[]},{"id":"5af057b8.467ca8","type":"ui_gauge","z":"ad48211d.234ea","name":"Pressure","group":"f4760b27.ac0428","order":3,"width":4,"height":3,"gtype":"gage","title":"Pressure","label":"bar","format":"{{msg.payload.P}}","min":0,"max":"8","colors":["#ff2600","#4aee3f","#f72237"],"seg1":"5","seg2":"7","x":920,"y":4040,"wires":[]},{"id":"38525ebc.e2b732","type":"ui_numeric","z":"ad48211d.234ea","name":"Min pressure","label":"Min","tooltip":"","group":"f4760b27.ac0428","order":11,"width":3,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}} bar","min":0,"max":"8","step":"0.1","x":1150,"y":4160,"wires":[["f35ab1fe.aeea2"]]},{"id":"12e754e1.77f20b","type":"ui_numeric","z":"ad48211d.234ea","name":"Max pressure","label":"Max","tooltip":"","group":"f4760b27.ac0428","order":13,"width":3,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}} bar","min":0,"max":"8","step":"0.1","x":1160,"y":4220,"wires":[["c3304e1b.9010e"]]},{"id":"1d1b4a5.1a398b6","type":"change","z":"ad48211d.234ea","name":"Max pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.Ma)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":4220,"wires":[["12e754e1.77f20b"]]},{"id":"4721b6.2c2ede4c","type":"change","z":"ad48211d.234ea","name":"Min pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.Mi)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":4160,"wires":[["38525ebc.e2b732"]]},{"id":"ebcdf9d4.cb0a18","type":"ui_text","z":"ad48211d.234ea","group":"f4760b27.ac0428","order":7,"width":3,"height":1,"name":"Last spray","label":"Last spray","format":"{{msg.payload.LS}} bar","layout":"row-spread","x":930,"y":4120,"wires":[]},{"id":"fa4d2223.94d25","type":"ui_numeric","z":"ad48211d.234ea","name":"Day interval","label":"Day","tooltip":"","group":"f4760b27.ac0428","order":8,"width":3,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}} min","min":0,"max":"30","step":"1","x":1150,"y":4340,"wires":[["5850e982.249278"]]},{"id":"568e168e.c6fce8","type":"ui_numeric","z":"ad48211d.234ea","name":"Night interval","label":"Night","tooltip":"","group":"f4760b27.ac0428","order":10,"width":3,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}} min","min":0,"max":"30","step":"1","x":1150,"y":4400,"wires":[["7bcebf5d.7cee6"]]},{"id":"85da5c52.aca2b","type":"change","z":"ad48211d.234ea","name":"Night interval","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.NI)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":4400,"wires":[["568e168e.c6fce8"]]},{"id":"d2fc4603.7dce58","type":"change","z":"ad48211d.234ea","name":"Day interval","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.DI)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":4340,"wires":[["fa4d2223.94d25"]]},{"id":"fb0f1f58.574e3","type":"ui_numeric","z":"ad48211d.234ea","name":"Spray duration","label":"Spray duration","tooltip":"","group":"f4760b27.ac0428","order":5,"width":3,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}} sec","min":0,"max":"30","step":"0.1","x":1160,"y":4280,"wires":[["142ae420.9a343c"]]},{"id":"63f1c294.a12c4c","type":"change","z":"ad48211d.234ea","name":"Spray duration","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.D)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":4280,"wires":[["fb0f1f58.574e3"]]},{"id":"cb4922a7.a41cf","type":"ui_numeric","z":"ad48211d.234ea","name":"Pump timeout","label":"Pump timeout","tooltip":"","group":"f4760b27.ac0428","order":16,"width":4,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}} sec","min":0,"max":"300","step":"1","x":1160,"y":4520,"wires":[["c20e2641.720378"]]},{"id":"120bbb76.541295","type":"change","z":"ad48211d.234ea","name":"Pump timeout","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.PT)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":4520,"wires":[["cb4922a7.a41cf"]]},{"id":"39cde3c1.e45f7c","type":"change","z":"ad48211d.234ea","name":"Pump speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.PS)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":4460,"wires":[["51c83ef4.cb1f1"]]},{"id":"51c83ef4.cb1f1","type":"ui_slider","z":"ad48211d.234ea","name":"Pump speed","label":"Pump speed","tooltip":"","group":"f4760b27.ac0428","order":14,"width":7,"height":1,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":1150,"y":4460,"wires":[["65fb0728.494878"]]},{"id":"ebe38307.e0f0c","type":"ui_numeric","z":"ad48211d.234ea","name":"Pump priming time","label":"Pump priming","tooltip":"","group":"f4760b27.ac0428","order":15,"width":3,"height":1,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}} sec","min":0,"max":"60","step":"1","x":1170,"y":4580,"wires":[["4508903b.0e536"]]},{"id":"bb903e03.bc2d7","type":"change","z":"ad48211d.234ea","name":"Pump priming time","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.PP)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":4580,"wires":[["ebe38307.e0f0c"]]},{"id":"5331ae9e.f6b7","type":"function","z":"ad48211d.234ea","name":"Metric/Imperial units","func":"if(msg.payload.Main1.M === \"1\")\n{\n    global.set(\"WeightUnit\", \"kg\");\n    global.set(\"PressureUnit\", \"bar\");\n}\nelse\n{\n    global.set(\"WeightUnit\", \"lbs\");\n    global.set(\"PressureUnit\", \"psi\");\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":100,"wires":[[]]},{"id":"2ea13a97.57c7c6","type":"mqtt out","z":"ad48211d.234ea","name":"Light1 ON/OFF","topic":"Gbox420CMD/Main1_L1","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1580,"y":600,"wires":[]},{"id":"aef45783.d9dc78","type":"mqtt out","z":"ad48211d.234ea","name":"Light2 ON/OFF","topic":"Gbox420CMD/Main1_L2","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1580,"y":940,"wires":[]},{"id":"3bf53a47.cc81a6","type":"mqtt out","z":"ad48211d.234ea","name":"Light1 timer ON/OFF","topic":"Gbox420CMD/Main1_L1T","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1600,"y":540,"wires":[]},{"id":"5e221dd8.93dc84","type":"mqtt out","z":"ad48211d.234ea","name":"Light2 timer ON/OFF","topic":"Gbox420CMD/Main1_L2T","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1600,"y":880,"wires":[]},{"id":"572925aa.9fabdc","type":"ui_slider","z":"ad48211d.234ea","name":"Brightness level","label":"Brightness","tooltip":"","group":"bda16d8e.5cef7","order":7,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":1160,"y":480,"wires":[["8112f6ae.35a9f8"]]},{"id":"4d68a85f.0e0b18","type":"mqtt out","z":"ad48211d.234ea","name":"Light1 brightness","topic":"Gbox420CMD/Main1_L1B","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1590,"y":480,"wires":[]},{"id":"3a68b9be.ad02e6","type":"mqtt out","z":"ad48211d.234ea","name":"Light2 brightness","topic":"Gbox420CMD/Main1_L2B","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1590,"y":820,"wires":[]},{"id":"b79e39a6.98f488","type":"ui_slider","z":"ad48211d.234ea","name":"Brightness level","label":"Brightness","tooltip":"","group":"48150cd2.dd7124","order":7,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":1160,"y":820,"wires":[["51f17678.115c68"]]},{"id":"984b1102.76883","type":"switch","z":"ad48211d.234ea","name":"Fan speed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":1330,"y":1600,"wires":[["571ec139.af6d1"],["c7c8d9bb.e684b8"],["d40ab7d0.ad5288"]]},{"id":"571ec139.af6d1","type":"mqtt out","z":"ad48211d.234ea","name":"Internal Fan OFF","topic":"Gbox420CMD/Main1_IFO","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1570,"y":1540,"wires":[]},{"id":"c7c8d9bb.e684b8","type":"mqtt out","z":"ad48211d.234ea","name":"Internal Fan LOW","topic":"Gbox420CMD/Main1_IFL","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1570,"y":1600,"wires":[]},{"id":"d40ab7d0.ad5288","type":"mqtt out","z":"ad48211d.234ea","name":"Internal Fan HIGH","topic":"Gbox420CMD/Main1_IFH","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1570,"y":1660,"wires":[]},{"id":"962e9d3b.430ce","type":"mqtt out","z":"ad48211d.234ea","name":"Exhaust Fan OFF","topic":"Gbox420CMD/Main1_EFO","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1570,"y":1720,"wires":[]},{"id":"5a8a207c.f90f6","type":"mqtt out","z":"ad48211d.234ea","name":"Exhaust Fan LOW","topic":"Gbox420CMD/Main1_EFL","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1570,"y":1780,"wires":[]},{"id":"80a1ce98.89896","type":"mqtt out","z":"ad48211d.234ea","name":"Exhaust Fan HIGH","topic":"Gbox420CMD/Main1_EFH","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1570,"y":1840,"wires":[]},{"id":"43509733.b2d928","type":"switch","z":"ad48211d.234ea","name":"Fan speed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":1330,"y":1780,"wires":[["962e9d3b.430ce"],["5a8a207c.f90f6"],["80a1ce98.89896"]]},{"id":"9569fd0c.07232","type":"mqtt out","z":"ad48211d.234ea","name":"Air pump ON/OFF","topic":"Gbox420CMD/Main1_AP","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1390,"y":1960,"wires":[]},{"id":"8d843838.3494c8","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket1 Dry weight","topic":"Gbox420CMD/Hemp1_B1DW","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1610,"y":2580,"wires":[]},{"id":"2236151c.ba9afa","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket1 Waste weight","topic":"Gbox420CMD/Hemp1_B1WL","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1620,"y":2640,"wires":[]},{"id":"23a2cf61.5a333","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket1 Overflow target","topic":"Gbox420CMD/Hemp1_B1OF","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1630,"y":2700,"wires":[]},{"id":"963feb09.d35508","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket1 Evaporation target","topic":"Gbox420CMD/Hemp1_B1ET","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1640,"y":2760,"wires":[]},{"id":"aab3b417.4f7088","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket1 Pump speed","topic":"Gbox420CMD/Hemp1_B1PS","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1620,"y":2820,"wires":[]},{"id":"dcab4a63.9a5f48","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket1 Pump timeout","topic":"Gbox420CMD/Hemp1_B1T","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1620,"y":2880,"wires":[]},{"id":"75a0cb33.ec76f4","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket1 Drain time","topic":"Gbox420CMD/Hemp1_B1D","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1610,"y":2940,"wires":[]},{"id":"6404c7fe.b75328","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket2 Dry weight","topic":"Gbox420CMD/Hemp1_B2DW","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1610,"y":3481,"wires":[]},{"id":"a9dc1164.de734","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket2 Waste weight","topic":"Gbox420CMD/Hemp1_B2WL","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1620,"y":3541,"wires":[]},{"id":"4a5f690f.c55338","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket2 Overflow target","topic":"Gbox420CMD/Hemp1_B2OF","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1630,"y":3601,"wires":[]},{"id":"c3a0b440.83db38","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket2 Evaporation target","topic":"Gbox420CMD/Hemp1_B2ET","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1640,"y":3661,"wires":[]},{"id":"55f94bb8.b7ab24","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket2 Pump speed","topic":"Gbox420CMD/Hemp1_B2PS","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1620,"y":3721,"wires":[]},{"id":"90aa820e.55c31","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket2 Pump timeout","topic":"Gbox420CMD/Hemp1_B2T","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1620,"y":3781,"wires":[]},{"id":"12d9189.fb47ce7","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket2 Drain time","topic":"Gbox420CMD/Hemp1_B2D","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1610,"y":3841,"wires":[]},{"id":"5ca33d5f.513b64","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":3480,"wires":[["6404c7fe.b75328"]]},{"id":"844a5aec.071d68","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":3540,"wires":[["a9dc1164.de734"]]},{"id":"48cbf889.b3a058","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":3600,"wires":[["4a5f690f.c55338"]]},{"id":"8d17b283.9fd5b","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":3660,"wires":[["c3a0b440.83db38"]]},{"id":"1e3da504.45322b","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":3780,"wires":[["90aa820e.55c31"]]},{"id":"4abcb68c.eb3828","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":3840,"wires":[["12d9189.fb47ce7"]]},{"id":"327fdd94.fb85b2","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":2580,"wires":[["8d843838.3494c8"]]},{"id":"c21dd1a.088853","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":2640,"wires":[["2236151c.ba9afa"]]},{"id":"b6d8cc90.fc92","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":2700,"wires":[["23a2cf61.5a333"]]},{"id":"b70e9be7.364f58","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":2760,"wires":[["963feb09.d35508"]]},{"id":"b80a7374.003f1","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":2880,"wires":[["dcab4a63.9a5f48"]]},{"id":"9e2d6522.b4e6c8","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":2940,"wires":[["75a0cb33.ec76f4"]]},{"id":"c20a2620.211aa8","type":"mqtt out","z":"ad48211d.234ea","name":"Minimum pressure","topic":"Gbox420CMD/Aero1_PMn","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1730,"y":4160,"wires":[]},{"id":"f35ab1fe.aeea2","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":4160,"wires":[["c20a2620.211aa8"]]},{"id":"b8aa1669.7afa28","type":"mqtt out","z":"ad48211d.234ea","name":"Maximum pressure","topic":"Gbox420CMD/Aero1_PMx","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1730,"y":4220,"wires":[]},{"id":"c3304e1b.9010e","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":4220,"wires":[["b8aa1669.7afa28"]]},{"id":"a64a98dd.43eb78","type":"mqtt out","z":"ad48211d.234ea","name":"Spray duration","topic":"Gbox420CMD/Aero1_Dur","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1720,"y":4280,"wires":[]},{"id":"142ae420.9a343c","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":4280,"wires":[["a64a98dd.43eb78"]]},{"id":"8cc4307d.bb66e","type":"mqtt out","z":"ad48211d.234ea","name":"Day interval","topic":"Gbox420CMD/Aero1_DInt","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1710,"y":4340,"wires":[]},{"id":"5850e982.249278","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":4340,"wires":[["8cc4307d.bb66e"]]},{"id":"8de262b3.5fbfc","type":"mqtt out","z":"ad48211d.234ea","name":"Night interval","topic":"Gbox420CMD/Aero1_NInt","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1710,"y":4400,"wires":[]},{"id":"7bcebf5d.7cee6","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":4400,"wires":[["8de262b3.5fbfc"]]},{"id":"65fb0728.494878","type":"mqtt out","z":"ad48211d.234ea","name":"Pump speed","topic":"Gbox420CMD/Aero1_PS","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1710,"y":4460,"wires":[]},{"id":"86cfa90f.57e078","type":"mqtt out","z":"ad48211d.234ea","name":"Pump timeout","topic":"Gbox420CMD/Aero1_PT","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1720,"y":4520,"wires":[]},{"id":"c20e2641.720378","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":4520,"wires":[["86cfa90f.57e078"]]},{"id":"62f02f34.fba7a","type":"mqtt out","z":"ad48211d.234ea","name":"Pump priming time","topic":"Gbox420CMD/Aero1_PPT","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1730,"y":4580,"wires":[]},{"id":"4508903b.0e536","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":4580,"wires":[["62f02f34.fba7a"]]},{"id":"1d68a36f.098b9d","type":"ui_button","z":"ad48211d.234ea","name":"Start watering","group":"7fd41d0.72483e4","order":14,"width":2,"height":1,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":940,"y":3300,"wires":[["4320c9d1.f75978"]]},{"id":"74603531.6fbcac","type":"ui_button","z":"ad48211d.234ea","name":"Stop watering","group":"7fd41d0.72483e4","order":15,"width":1,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":940,"y":3360,"wires":[["cad49727.160588"]]},{"id":"e7d0262.28700d8","type":"ui_button","z":"ad48211d.234ea","name":"Disable watering","group":"7fd41d0.72483e4","order":16,"width":2,"height":1,"passthru":false,"label":"Disable","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":950,"y":3420,"wires":[["3009ee06.ce8032"]]},{"id":"a20eaf8f.71aae","type":"ui_text","z":"ad48211d.234ea","group":"ee644883.b6e878","order":13,"width":2,"height":1,"name":"","label":"Watering","format":"","layout":"row-left","x":920,"y":3260,"wires":[]},{"id":"c4cfcdf2.4f1af","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":3720,"wires":[["55f94bb8.b7ab24"]]},{"id":"13060ec8.0d3901","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":2820,"wires":[["aab3b417.4f7088"]]},{"id":"8112f6ae.35a9f8","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":480,"wires":[["4d68a85f.0e0b18"]]},{"id":"51f17678.115c68","type":"trigger","z":"ad48211d.234ea","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":820,"wires":[["3a68b9be.ad02e6"]]},{"id":"4320c9d1.f75978","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket2 Start watering","topic":"Gbox420CMD/Hemp1_B2On","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1620,"y":3301,"wires":[]},{"id":"cad49727.160588","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket2 Stop watering","topic":"Gbox420CMD/Hemp1_B2Off","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1620,"y":3361,"wires":[]},{"id":"3009ee06.ce8032","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket2 watering disabled","topic":"Gbox420CMD/Hemp1_B2Dis","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1630,"y":3421,"wires":[]},{"id":"afe5cdcb.1dc18","type":"ui_button","z":"ad48211d.234ea","name":"Start watering","group":"ee644883.b6e878","order":14,"width":2,"height":1,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":940,"y":2400,"wires":[["2ff87891.aa5fa8"]]},{"id":"52c2bb83.645304","type":"ui_button","z":"ad48211d.234ea","name":"Stop watering","group":"ee644883.b6e878","order":15,"width":1,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":940,"y":2460,"wires":[["b2d9f528.ed3f38"]]},{"id":"6ee4f528.1916dc","type":"ui_button","z":"ad48211d.234ea","name":"Disable watering","group":"ee644883.b6e878","order":16,"width":2,"height":1,"passthru":false,"label":"Disable","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":950,"y":2520,"wires":[["8c635c22.f8dae"]]},{"id":"971926b.a613ed8","type":"ui_text","z":"ad48211d.234ea","group":"7fd41d0.72483e4","order":13,"width":2,"height":1,"name":"","label":"Watering","format":"","layout":"row-left","x":920,"y":2360,"wires":[]},{"id":"2ff87891.aa5fa8","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket1 Start watering","topic":"Gbox420CMD/Hemp1_B1On","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1620,"y":2400,"wires":[]},{"id":"b2d9f528.ed3f38","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket1 Stop watering","topic":"Gbox420CMD/Hemp1_B1Off","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1620,"y":2460,"wires":[]},{"id":"8c635c22.f8dae","type":"mqtt out","z":"ad48211d.234ea","name":"Bucket1 watering disabled","topic":"Gbox420CMD/Hemp1_B1Dis","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1630,"y":2520,"wires":[]},{"id":"f85b4c38.69cb3","type":"ui_button","z":"ad48211d.234ea","name":"Stop spray","group":"f4760b27.ac0428","order":19,"width":1,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":930,"y":4760,"wires":[["662245b1.12e07c"]]},{"id":"662245b1.12e07c","type":"mqtt out","z":"ad48211d.234ea","name":"Stop spraying","topic":"Gbox420CMD/Aero1_SprayOff","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1140,"y":4760,"wires":[]},{"id":"3b5676b3.07c66a","type":"mqtt out","z":"ad48211d.234ea","name":"Start spraying","topic":"Gbox420CMD/Aero1_SprayNow","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1140,"y":4700,"wires":[]},{"id":"64eb36b8.6cbc48","type":"ui_button","z":"ad48211d.234ea","name":"Start spray","group":"f4760b27.ac0428","order":18,"width":1,"height":1,"passthru":false,"label":"Start<br>spray","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":930,"y":4700,"wires":[["3b5676b3.07c66a"]]},{"id":"f69c5ccc.9b6a6","type":"ui_switch","z":"ad48211d.234ea","name":"","label":"Spray","tooltip":"","group":"f4760b27.ac0428","order":17,"width":3,"height":1,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":1130,"y":4820,"wires":[["a9264e11.2d908"]]},{"id":"efc56cf5.5f0f","type":"function","z":"ad48211d.234ea","name":"Spray enabled","func":"msg.payload = (msg.payload.SE === \"1\")  ?  true  :  false\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":4820,"wires":[["f69c5ccc.9b6a6"]]},{"id":"3fe27517.c4181a","type":"function","z":"ad48211d.234ea","name":"Format time","func":"Hour = Math.floor(msg.payload/3600000);\nMinute = Math.floor((msg.payload % 3600000) / 60000);\nmsg.payload = Hour.toString().padStart(2,\"0\") + Minute.toString().padStart(2,\"0\") ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":1060,"wires":[["3230c313.a3040c"]]},{"id":"3230c313.a3040c","type":"mqtt out","z":"ad48211d.234ea","name":"Light2 OFF time","topic":"Gbox420CMD/Main1_L2OfT","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1580,"y":1060,"wires":[]},{"id":"720a7aec.964a74","type":"function","z":"ad48211d.234ea","name":"Format time","func":"Hour = Math.floor(msg.payload/3600000);\nMinute = Math.floor((msg.payload % 3600000) / 60000);\nmsg.payload = Hour.toString().padStart(2,\"0\") + Minute.toString().padStart(2,\"0\") ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1371,"y":1000,"wires":[["2a09ffed.cbdce"]]},{"id":"2a09ffed.cbdce","type":"mqtt out","z":"ad48211d.234ea","name":"Light2 ON time","topic":"Gbox420CMD/Main1_L2OnT","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1581,"y":1000,"wires":[]},{"id":"9aecc69.d0e7138","type":"function","z":"ad48211d.234ea","name":"Format time","func":"Hour = Math.floor(msg.payload/3600000);\nMinute = Math.floor((msg.payload % 3600000) / 60000);\nmsg.payload = Hour.toString().padStart(2,\"0\") + Minute.toString().padStart(2,\"0\") ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":720,"wires":[["b5799a09.bbc988"]]},{"id":"b5799a09.bbc988","type":"mqtt out","z":"ad48211d.234ea","name":"Light1 OFF time","topic":"Gbox420CMD/Main1_L1OfT","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1580,"y":720,"wires":[]},{"id":"503259da.7a7198","type":"function","z":"ad48211d.234ea","name":"Format time","func":"Hour = Math.floor(msg.payload/3600000);\nMinute = Math.floor((msg.payload % 3600000) / 60000);\nmsg.payload = Hour.toString().padStart(2,\"0\") + Minute.toString().padStart(2,\"0\") ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":660,"wires":[["d389d26d.b13c4"]]},{"id":"d389d26d.b13c4","type":"mqtt out","z":"ad48211d.234ea","name":"Light1 ON time","topic":"Gbox420CMD/Main1_L1OnT","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1580,"y":660,"wires":[]},{"id":"59d7596b.f5b358","type":"ui_toast","z":"ad48211d.234ea","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Disable spray","cancel":"Cancel","raw":false,"topic":"Are you sure?","name":"Show confirmation","x":1350,"y":4900,"wires":[["4e6247d7.b12d38"]]},{"id":"a9264e11.2d908","type":"switch","z":"ad48211d.234ea","name":"ON or OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1270,"y":4820,"wires":[["a89e4ac0.fadba8"],["11d90ad4.88ffb5"]]},{"id":"43dd2b18.208934","type":"mqtt out","z":"ad48211d.234ea","name":"Disable spray","topic":"Gbox420CMD/Aero1_SprayDis","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1720,"y":4900,"wires":[]},{"id":"a89e4ac0.fadba8","type":"mqtt out","z":"ad48211d.234ea","name":"Enable spray","topic":"Gbox420CMD/Aero1_SprayEn","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1710,"y":4820,"wires":[]},{"id":"4e6247d7.b12d38","type":"switch","z":"ad48211d.234ea","name":"Confirmed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Disable spray","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1530,"y":4900,"wires":[["43dd2b18.208934","f2931a7.eb54fe8"]]},{"id":"11d90ad4.88ffb5","type":"change","z":"ad48211d.234ea","name":"Set message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Plants will dry out within an hour with the spray disabled!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":4900,"wires":[["59d7596b.f5b358"]]},{"id":"f2931a7.eb54fe8","type":"change","z":"ad48211d.234ea","name":"Set feedback","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":4960,"wires":[["f69c5ccc.9b6a6"]]},{"id":"b95c9937.f197e8","type":"comment","z":"ad48211d.234ea","name":"MQTT Commands are defined in the commandEven function of each module","info":"Aeroponics module:\n[https://github.com/growboxguy/Gbox420/blob/master/Gbox420_Mega_Main/src/Modules_Web/AeroModule_Web.cpp]()\n\nHempy module:\n[https://github.com/growboxguy/Gbox420/blob/master/Gbox420_Mega_Main/src/Modules_Web/HempyModule_Web.cpp]()\n\nMain module:\n[https://github.com/growboxguy/Gbox420/blob/master/Gbox420_Mega_Main/src/Modules_Web/MainModule_Web.cpp]()\n\nReservoir module:\n[https://github.com/growboxguy/Gbox420/blob/master/Gbox420_Mega_Main/src/Modules_Web/ReservoirModule_Web.cpp]()","x":1770,"y":420,"wires":[]},{"id":"eae93c70.ec231","type":"ui_text","z":"ad48211d.234ea","group":"7fd41d0.72483e4","order":2,"width":3,"height":1,"name":"Pump state","label":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i>&nbsp;</font>Pump","format":"{{msg.payload}}","layout":"col-center","x":1150,"y":3937,"wires":[]},{"id":"22fb040b.c47b4c","type":"function","z":"ad48211d.234ea","name":"Pump state","func":"switch(msg.payload.P2) {\n  case \"0\":\n    msg.payload = \"DISABLED\";\n    msg.color = \"red\";\n    break;\n  case \"1\":\n     msg.payload = \"IDLE\";\n     msg.color = \"lime\";\n    break;\n  case \"2\":\n     msg.payload = \"RUNNING\";\n     msg.color = \"orange\";\n    break;\n  default:\n     msg.payload = \"???\";\n     msg.color = \"black\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":3937,"wires":[["eae93c70.ec231"]]},{"id":"41ac1f14.3adab","type":"ui_text","z":"ad48211d.234ea","group":"7fd41d0.72483e4","order":1,"width":4,"height":1,"name":"Hempy state","label":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i>&nbsp;</font>State","format":"{{msg.payload}}","layout":"col-center","x":1150,"y":3897,"wires":[]},{"id":"ad4e799c.8557f8","type":"function","z":"ad48211d.234ea","name":"Hempy state","func":"switch(msg.payload.H2) {\n  case \"0\":\n    msg.payload = \"DISABLED\";\n    msg.color = \"red\";\n    break;\n  case \"1\":\n     msg.payload = \"IDLE\";\n     msg.color = \"lime\";\n    break;\n  case \"2\":\n     msg.payload = \"WATERING\";\n     msg.color = \"orange\";\n    break;\n  case \"3\":\n     msg.payload = \"DRAINING\";\n     msg.color = \"blue\";\n    break;\n  default:\n     msg.payload = \"???\";\n     msg.color = \"black\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":3897,"wires":[["41ac1f14.3adab"]]},{"id":"74663545.7f5b3c","type":"ui_button","z":"ad48211d.234ea","name":"Refresh sensor readings","group":"daea9443.544e58","order":2,"width":2,"height":1,"passthru":false,"label":"Update","tooltip":"Update all sensor readings and send an MQTT report","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":710,"y":140,"wires":[["4dc5b8d7.c4b308","ec1461d8.62efd","44fffc5d.0cca94"]]},{"id":"a64217a3.1cbc88","type":"ui_button","z":"ad48211d.234ea","name":"MQTT report","group":"daea9443.544e58","order":3,"width":2,"height":1,"passthru":false,"label":"Refresh","tooltip":"Force an MQTT report","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":670,"y":200,"wires":[["18368702.ae6509"]]},{"id":"4dc5b8d7.c4b308","type":"mqtt out","z":"ad48211d.234ea","name":"Update sensor readings","topic":"Gbox420CMD/Main1_Refresh","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":970,"y":140,"wires":[]},{"id":"18368702.ae6509","type":"mqtt out","z":"ad48211d.234ea","name":"MQTT report","topic":"Gbox420CMD/MQTT","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":930,"y":200,"wires":[]},{"id":"3de45ffb.21256","type":"ui_toast","z":"ad48211d.234ea","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Refersh notification","x":1390,"y":140,"wires":[]},{"id":"ec1461d8.62efd","type":"delay","z":"ad48211d.234ea","name":"Delay refresh (3 sec)","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1600,"y":140,"wires":[["18368702.ae6509"]]},{"id":"44fffc5d.0cca94","type":"change","z":"ad48211d.234ea","name":"Refresh message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Updating all sensor readings, refreshing in 3 seconds","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":140,"wires":[["3de45ffb.21256"]]},{"id":"4de5c892.8233f8","type":"change","z":"ad48211d.234ea","name":"Current time","rules":[{"t":"set","p":"time","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":260,"wires":[["7c3e1a2f.68a0c4"]]},{"id":"7c3e1a2f.68a0c4","type":"moment","z":"ad48211d.234ea","name":"","topic":"","input":"time","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"yyyy/MM/DD hh:mm:ss","locale":"en-US","output":"time","outputType":"msg","outTz":"Europe/Berlin","x":1180,"y":260,"wires":[["d6926acf.889c28"]]},{"id":"fc2961cd.9796","type":"switch","z":"ad48211d.234ea","name":"Log or EventLog","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$exists(msg.payload.Log)","vt":"jsonata"},{"t":"jsonata_exp","v":"$exists(msg.payload.EventLog)","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":120,"wires":[["d9260831.fced08"],["11da1d4c.85f913"]]},{"id":"11da1d4c.85f913","type":"change","z":"ad48211d.234ea","name":"Select EventLog","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.EventLog","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":260,"wires":[["4de5c892.8233f8"]]},{"id":"d6926acf.889c28","type":"function","z":"ad48211d.234ea","name":"Format EventLog","func":"msg.eventLog = \"<h2>\" + msg.time + \"</h2><ul>\";\nfor (var logEntry of msg.payload) {\nmsg.eventLog = msg.eventLog + \"<li>\" + logEntry + \"</li>\";\n}\nmsg.eventLog = msg.eventLog+\"</ul>\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":260,"wires":[["42021ce5.d75884"]]},{"id":"42021ce5.d75884","type":"ui_text","z":"ad48211d.234ea","group":"daea9443.544e58","order":1,"width":7,"height":3,"name":"Event log","label":"","format":"{{msg.eventLog}}","layout":"row-left","x":1580,"y":260,"wires":[]},{"id":"baf29d16.ef2ee","type":"ui_button","z":"ad48211d.234ea","name":"Drain pressure tank","group":"f4760b27.ac0428","order":24,"width":1,"height":1,"passthru":false,"label":"Drain","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1350,"y":4760,"wires":[["f0889bbe.128388"]]},{"id":"f0889bbe.128388","type":"mqtt out","z":"ad48211d.234ea","name":"Drain pressure tank","topic":"Gbox420CMD/Aero1_Drain","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1550,"y":4760,"wires":[]},{"id":"7cf60c6d.9b6974","type":"mqtt out","z":"ad48211d.234ea","name":"Refill pressure tank","topic":"Gbox420CMD/Aero1_Refill","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1550,"y":4700,"wires":[]},{"id":"32bdc57e.536b4a","type":"ui_button","z":"ad48211d.234ea","name":"Refill pressure tank","group":"f4760b27.ac0428","order":23,"width":1,"height":1,"passthru":false,"label":"Refill","tooltip":"","color":"","bgcolor":"DodgerBlue","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1350,"y":4700,"wires":[["7cf60c6d.9b6974"]]},{"id":"77ac257b.3cb57c","type":"mqtt out","z":"ad48211d.234ea","name":"Mix reservoir","topic":"Gbox420CMD/Aero1_Mix","qos":"0","retain":"false","broker":"69d56562.8f32ac","x":1950,"y":4700,"wires":[]},{"id":"bda48200.7295d","type":"ui_button","z":"ad48211d.234ea","name":"Mix reservoir","group":"f4760b27.ac0428","order":22,"width":1,"height":1,"passthru":false,"label":"Mix","tooltip":"","color":"","bgcolor":"deeppink","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1750,"y":4700,"wires":[["77ac257b.3cb57c"]]}]