Node-RED/flows.json
[{"id":"b006bd40.e3e99","type":"tab","label":"Display readings","disabled":false,"info":""},{"id":"1d50da2a.0aadb6","type":"mqtt in","z":"b006bd40.e3e99","name":"","topic":"GrowBoxGuy/Gbox420/","qos":"1","datatype":"json","broker":"69d56562.8f32ac","x":120,"y":100,"wires":[["45d894ec.a15ccc"]]},{"id":"56a0ab0a.006984","type":"debug","z":"b006bd40.e3e99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":80,"wires":[]},{"id":"13d2e0d5.13c1df","type":"file","z":"b006bd40.e3e99","name":"Gbox420Log","filename":"Gbox420Log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":550,"y":80,"wires":[["56a0ab0a.006984"]]},{"id":"491710ad.f4e54","type":"inject","z":"b006bd40.e3e99","name":"Test report","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"GrowBoxGuy/Gbox420/","payload":"{\"Log\":{\"IFan\":{\"S\":\"1\"},\"EFan\":{\"S\":\"0\"},\"APump1\":{\"S\":\"1\"},\"Lt1\":{\"S\":\"0\",\"B\":\"85\",\"T\":\"1\",\"On\":\"08:20\",\"Of\":\"02:20\"},\"Lt2\":{\"S\":\"0\",\"B\":\"0\",\"T\":\"0\",\"On\":\"04:20\",\"Of\":\"16:20\"},\"LtSen1\":{\"R\":\"770\",\"D\":\"0\"},\"DHT1\":{\"T\":\"26.00\",\"H\":\"44.70\"},\"Pow1\":{\"P\":\"434.90\",\"E\":\"538.44\",\"V\":\"229.60\",\"C\":\"1.97\",\"F\":\"50.00\",\"PF\":\"0.96\"},\"Hemp1\":{\"S\":\"1\",\"H1\":\"0\",\"P1\":\"0\",\"PS1\":\"100\",\"WB1\":\"19.00\",\"WR1\":\"1.56\",\"DW1\":\"18.13\",\"WW1\":\"20.13\",\"ET1\":\"2.00\",\"OT1\":\"0.20\",\"WL1\":\"13.00\",\"H2\":\"0\",\"P2\":\"0\",\"PS2\":\"100\",\"WB2\":\"20.36\",\"WR2\":\"1.28\",\"DW2\":\"19.34\",\"WW2\":\"21.34\",\"ET2\":\"2.00\",\"OT2\":\"0.20\",\"WL2\":\"13.00\"},\"Aero1\":{\"S\":\"1\",\"P\":\"6.56\",\"W\":\"8.69\",\"Mi\":\"5.00\",\"Ma\":\"7.00\",\"AS\":\"1\",\"LS\":\"6.73\",\"PSt\":\"1\",\"PS\":\"100\",\"SE\":\"1\",\"D\":\"3.00\",\"DI\":\"6\",\"NI\":\"10\"},\"Res1\":{\"S\":\"1\",\"P\":\"-2.71\",\"T\":\"1568.20\",\"W\":\"55.89\",\"WT\":\"11.19\",\"AT\":\"23.60\",\"H\":\"37.00\"},\"Main1\":{\"M\":\"1\",\"D\":\"1\"}}}","payloadType":"json","x":100,"y":60,"wires":[["45d894ec.a15ccc"]]},{"id":"eb9c3754.c7eca8","type":"ui_ui_control","z":"b006bd40.e3e99","name":"","events":"all","x":80,"y":180,"wires":[[]]},{"id":"c7fb9955.548238","type":"change","z":"b006bd40.e3e99","name":"Brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.B","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":180,"wires":[["dcf743fa.068fe"]]},{"id":"3b2ee35f.7eeaec","type":"ui_chart","z":"b006bd40.e3e99","name":"Light reading","group":"8364017d.a7ff3","order":4,"width":7,"height":3,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Waiting for more data points...","dot":false,"ymin":"0","ymax":"1024","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":990,"y":900,"wires":[[]]},{"id":"1a287712.961e89","type":"change","z":"b006bd40.e3e99","name":"Select LightSensor1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.LtSen1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":780,"wires":[["9a1baf42.41fa5","6f23bff4.a4021","1d738948.9939f7"]]},{"id":"7bcf31f7.af107","type":"ui_switch","z":"b006bd40.e3e99","name":"","label":"Timer","tooltip":"","group":"bda16d8e.5cef7","order":4,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":970,"y":220,"wires":[[]]},{"id":"e75b2982.610b38","type":"function","z":"b006bd40.e3e99","name":"Timer","func":"msg.payload = (msg.payload.T === \"1\")  ?  true  :  false\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":220,"wires":[["7bcf31f7.af107"]]},{"id":"45d894ec.a15ccc","type":"change","z":"b006bd40.e3e99","name":"Select Log","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Log","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":80,"wires":[["13d2e0d5.13c1df","da02c652.858be8","c967e3d8.482ec","1a287712.961e89","53a20e03.8e054","890c6d78.413e9","7d4f3784.fa63d8","b0fa8de3.91739","37113051.dbebc","19e6cd7c.09d6f3","f93ea745.7031d8","bd39dfbf.2d415"]]},{"id":"da02c652.858be8","type":"change","z":"b006bd40.e3e99","name":"Select Light1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Lt1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":140,"wires":[["c7fb9955.548238","29f1c41.a0adc3c","e75b2982.610b38","4c6c221d.2318ec","dab38172.2e344","7e545486.7f2bbc"]]},{"id":"dcf743fa.068fe","type":"ui_level","z":"b006bd40.e3e99","group":"bda16d8e.5cef7","order":9,"width":7,"height":1,"name":"Brightness level","label":"Brightness","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"","segHigh":"","unit":"","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"valuedriven","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1000,"y":180,"wires":[]},{"id":"e2913355.cc336","type":"time-range-switch","z":"b006bd40.e3e99","name":"Light Schedule","lat":"","lon":"","startTime":"4:20","endTime":"16:20","startOffset":0,"endOffset":0,"x":100,"y":260,"wires":[["3fc5ffc1.25388"],["707d2f65.77e44"]]},{"id":"3fc5ffc1.25388","type":"debug","z":"b006bd40.e3e99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":240,"wires":[]},{"id":"707d2f65.77e44","type":"debug","z":"b006bd40.e3e99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":280,"wires":[]},{"id":"29f1c41.a0adc3c","type":"debug","z":"b006bd40.e3e99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":140,"wires":[]},{"id":"f3ce3ac1.5f40b8","type":"comment","z":"b006bd40.e3e99","name":"Displaying data received from the Gbox420 Main module over MQTT","info":"","x":620,"y":20,"wires":[]},{"id":"a450e1e3.9dc0f","type":"ui_switch","z":"b006bd40.e3e99","name":"","label":"Status","tooltip":"","group":"bda16d8e.5cef7","order":2,"width":2,"height":1,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":970,"y":300,"wires":[["4c6c221d.2318ec"]]},{"id":"4c6c221d.2318ec","type":"function","z":"b006bd40.e3e99","name":"Status","func":"msg.color = (msg.payload.S === \"1\" || msg.payload === true)  ?  \"lime\"  :  \"red\";\nmsg.payload = (msg.payload.S === \"1\" || msg.payload === true)  ?  true  :  false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":260,"wires":[["a450e1e3.9dc0f","16629d4.008ac63"]]},{"id":"16629d4.008ac63","type":"ui_text","z":"b006bd40.e3e99","group":"bda16d8e.5cef7","order":1,"width":1,"height":1,"name":"Status LED","label":"","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i></font>","layout":"row-center","x":990,"y":260,"wires":[]},{"id":"c6f056e3.e11be8","type":"ui_text_input","z":"b006bd40.e3e99","name":"On Time input","label":"On","tooltip":"","group":"bda16d8e.5cef7","order":6,"width":3,"height":1,"passthru":true,"mode":"time","delay":300,"topic":"topic","topicType":"msg","x":1000,"y":360,"wires":[[]]},{"id":"dab38172.2e344","type":"change","z":"b006bd40.e3e99","name":"On Time","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.On","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":360,"wires":[["c6f056e3.e11be8"]]},{"id":"f27e6cd6.316b8","type":"ui_text_input","z":"b006bd40.e3e99","name":"Off Time input","label":"Off","tooltip":"","group":"bda16d8e.5cef7","order":8,"width":3,"height":1,"passthru":true,"mode":"time","delay":300,"topic":"topic","topicType":"msg","x":1000,"y":400,"wires":[[]]},{"id":"7e545486.7f2bbc","type":"change","z":"b006bd40.e3e99","name":"Off Time","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Of","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":400,"wires":[["f27e6cd6.316b8"]]},{"id":"c967e3d8.482ec","type":"change","z":"b006bd40.e3e99","name":"Select Light2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Lt2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":460,"wires":[["cb831273.90723","ceb4bd2f.a76ea","b51d5862.a8f4e8","8cede572.f29868","7242f703.24eb08","9bc9c5d3.18e668"]]},{"id":"cb831273.90723","type":"change","z":"b006bd40.e3e99","name":"Brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.B","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":500,"wires":[["4d55f095.c0058"]]},{"id":"ebdb8725.2d8218","type":"ui_switch","z":"b006bd40.e3e99","name":"","label":"Timer","tooltip":"","group":"48150cd2.dd7124","order":4,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":970,"y":540,"wires":[[]]},{"id":"ceb4bd2f.a76ea","type":"function","z":"b006bd40.e3e99","name":"Timer","func":"msg.payload = (msg.payload.T === \"1\")  ?  true  :  false\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":540,"wires":[["ebdb8725.2d8218"]]},{"id":"4d55f095.c0058","type":"ui_level","z":"b006bd40.e3e99","group":"48150cd2.dd7124","order":9,"width":0,"height":0,"name":"Brightness level","label":"Brightness","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"","segHigh":"","unit":"%","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"valuedriven","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1000,"y":500,"wires":[]},{"id":"b51d5862.a8f4e8","type":"debug","z":"b006bd40.e3e99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":460,"wires":[]},{"id":"80cf64f1.8e90a8","type":"ui_switch","z":"b006bd40.e3e99","name":"","label":"Status","tooltip":"","group":"48150cd2.dd7124","order":2,"width":2,"height":1,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":970,"y":620,"wires":[["8cede572.f29868"]]},{"id":"8cede572.f29868","type":"function","z":"b006bd40.e3e99","name":"Status","func":"msg.color = (msg.payload.S === \"1\" || msg.payload === true)  ?  \"lime\"  :  \"red\";\nmsg.payload = (msg.payload.S === \"1\" || msg.payload === true)  ?  true  :  false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":580,"wires":[["80cf64f1.8e90a8","3136247a.f8116c"]]},{"id":"3136247a.f8116c","type":"ui_text","z":"b006bd40.e3e99","group":"48150cd2.dd7124","order":1,"width":1,"height":1,"name":"Status LED","label":"","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i></font>","layout":"row-center","x":990,"y":580,"wires":[]},{"id":"f3d84a1b.a6e528","type":"ui_text_input","z":"b006bd40.e3e99","name":"Off Time input","label":"Off","tooltip":"","group":"48150cd2.dd7124","order":8,"width":3,"height":1,"passthru":true,"mode":"time","delay":300,"topic":"topic","topicType":"msg","x":1000,"y":720,"wires":[[]]},{"id":"d1539a.b1736c68","type":"ui_text_input","z":"b006bd40.e3e99","name":"On Time input","label":"On","tooltip":"","group":"48150cd2.dd7124","order":6,"width":3,"height":1,"passthru":true,"mode":"time","delay":300,"topic":"topic","topicType":"msg","x":1000,"y":680,"wires":[[]]},{"id":"7242f703.24eb08","type":"change","z":"b006bd40.e3e99","name":"On Time","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.On","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":801,"y":680,"wires":[["d1539a.b1736c68"]]},{"id":"9bc9c5d3.18e668","type":"change","z":"b006bd40.e3e99","name":"Off Time","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Of","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":802,"y":720,"wires":[["f3d84a1b.a6e528"]]},{"id":"9a1baf42.41fa5","type":"change","z":"b006bd40.e3e99","name":"Reading","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.R","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":860,"wires":[["3b2ee35f.7eeaec","5324e136.b4cb6"]]},{"id":"53a20e03.8e054","type":"change","z":"b006bd40.e3e99","name":"Select Power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Pow1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":940,"wires":[["8f6b39ff.0fdb58","1e7c9723.799329","ee7389db.409c38","9ce6a027.1c892","f44ba791.adafd8"]]},{"id":"6f23bff4.a4021","type":"function","z":"b006bd40.e3e99","name":"Dark/Bright","func":"msg.text = (msg.payload.D === \"1\")  ?  \"Dark\"  :  \"Bright\";\nmsg.color = (msg.payload.D === \"1\")  ?  \"gray\"  :  \"yellow\";\nmsg.payload = (msg.payload.D === \"1\")  ?  false  :  true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":820,"wires":[["d1234cf1.40799"]]},{"id":"d1234cf1.40799","type":"ui_text","z":"b006bd40.e3e99","group":"8364017d.a7ff3","order":1,"width":2,"height":1,"name":"Dark/Bright LED","label":"","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i></font>&nbsp;&nbsp;{{msg.text}}","layout":"row-left","x":1000,"y":820,"wires":[]},{"id":"8f6b39ff.0fdb58","type":"ui_level","z":"b006bd40.e3e99","group":"65d54d78.294e74","order":1,"width":7,"height":1,"name":"","label":"Power","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"600","segWarn":"","segHigh":"","unit":"W","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload.P","peaktime":3000,"x":790,"y":980,"wires":[]},{"id":"1e7c9723.799329","type":"ui_text","z":"b006bd40.e3e99","group":"65d54d78.294e74","order":2,"width":3,"height":1,"name":"Energy","label":"Energy","format":"{{msg.payload.E}} kWh","layout":"col-center","x":800,"y":1020,"wires":[]},{"id":"ee7389db.409c38","type":"ui_text","z":"b006bd40.e3e99","group":"65d54d78.294e74","order":3,"width":2,"height":1,"name":"Voltage","label":"Voltage","format":"{{msg.payload.V}} V","layout":"col-center","x":800,"y":1060,"wires":[]},{"id":"9ce6a027.1c892","type":"ui_text","z":"b006bd40.e3e99","group":"65d54d78.294e74","order":4,"width":2,"height":1,"name":"Current","label":"Current","format":"{{msg.payload.C}} A","layout":"col-center","x":800,"y":1100,"wires":[]},{"id":"890c6d78.413e9","type":"change","z":"b006bd40.e3e99","name":"Select Temp/Humidity","rules":[{"t":"set","p":"InternalTemp","pt":"msg","to":"payload.DHT1.T","tot":"msg"},{"t":"set","p":"InternalHumidity","pt":"msg","to":"payload.DHT1.H","tot":"msg"},{"t":"set","p":"ExternalTemp","pt":"msg","to":"payload.Res1.AT","tot":"msg"},{"t":"set","p":"ExternalHumidity","pt":"msg","to":"payload.Res1.H","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1160,"wires":[["b2dc3312.bb939","aa120639.3b06a8","d419e19f.3e60e","43230786.c675a8","818af619.2d0248"]]},{"id":"b2dc3312.bb939","type":"debug","z":"b006bd40.e3e99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":1160,"wires":[]},{"id":"aa120639.3b06a8","type":"ui_gauge","z":"b006bd40.e3e99","name":"","group":"578e9d2e.2450e4","order":1,"width":4,"height":3,"gtype":"gage","title":"Internal Temp","label":"°C","format":"{{msg.InternalTemp}}","min":0,"max":"40","colors":["#007db3","#00e645","#ca3838"],"seg1":"20","seg2":"30","x":820,"y":1200,"wires":[]},{"id":"d419e19f.3e60e","type":"ui_gauge","z":"b006bd40.e3e99","name":"","group":"578e9d2e.2450e4","order":2,"width":3,"height":3,"gtype":"donut","title":"Internal Humidity","label":"%","format":"{{msg.InternalHumidity}}","min":0,"max":"100","colors":["#ea7f06","#00e645","#0bacc1"],"seg1":"30","seg2":"65","x":830,"y":1240,"wires":[]},{"id":"43230786.c675a8","type":"ui_gauge","z":"b006bd40.e3e99","name":"External Temp","group":"578e9d2e.2450e4","order":3,"width":4,"height":3,"gtype":"gage","title":"External Temp","label":"°C","format":"{{msg.ExternalTemp}}","min":0,"max":"40","colors":["#007db3","#00e645","#ca3838"],"seg1":"20","seg2":"30","x":820,"y":1280,"wires":[]},{"id":"818af619.2d0248","type":"ui_gauge","z":"b006bd40.e3e99","name":"External Humidity","group":"578e9d2e.2450e4","order":4,"width":3,"height":3,"gtype":"donut","title":"External Humidity","label":"%","format":"{{msg.ExternalHumidity}}","min":0,"max":"100","colors":["#ea7f06","#00e645","#0bacc1"],"seg1":"30","seg2":"65","x":830,"y":1320,"wires":[]},{"id":"f44ba791.adafd8","type":"debug","z":"b006bd40.e3e99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":940,"wires":[]},{"id":"1d738948.9939f7","type":"debug","z":"b006bd40.e3e99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":780,"wires":[]},{"id":"5324e136.b4cb6","type":"ui_text","z":"b006bd40.e3e99","group":"8364017d.a7ff3","order":2,"width":4,"height":1,"name":"Current reading","label":"Current reading: ","format":"{{msg.payload}}","layout":"row-center","x":1000,"y":860,"wires":[]},{"id":"7d4f3784.fa63d8","type":"change","z":"b006bd40.e3e99","name":"Select Internal Fan","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.IFan.S)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1380,"wires":[["c08fa570.0eb918","c932c2ad.17cf5","4d1f2b6c.b2f994"]]},{"id":"c08fa570.0eb918","type":"debug","z":"b006bd40.e3e99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":1380,"wires":[]},{"id":"b0fa8de3.91739","type":"change","z":"b006bd40.e3e99","name":"Select Exhaust Fan","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.EFan.S)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1520,"wires":[["1b9e1cf9.25f183","266d4c3.c6f01b4","2aaa9cd7.bf8964"]]},{"id":"1b9e1cf9.25f183","type":"debug","z":"b006bd40.e3e99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":1520,"wires":[]},{"id":"266d4c3.c6f01b4","type":"ui_dropdown","z":"b006bd40.e3e99","name":"","label":"Exhaust Fan","tooltip":"","place":"Fan speed","group":"578e9d2e.2450e4","order":9,"width":5,"height":1,"passthru":true,"multiple":false,"options":[{"label":"OFF","value":0,"type":"num"},{"label":"LOW","value":1,"type":"num"},{"label":"HIGH","value":2,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":810,"y":1560,"wires":[["2aaa9cd7.bf8964"]]},{"id":"c932c2ad.17cf5","type":"ui_dropdown","z":"b006bd40.e3e99","name":"","label":"Internal Fan","tooltip":"","place":"Fan speed","group":"578e9d2e.2450e4","order":6,"width":5,"height":1,"passthru":true,"multiple":false,"options":[{"label":"OFF","value":"0","type":"str"},{"label":"LOW","value":"1","type":"str"},{"label":"HIGH","value":"2","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":810,"y":1420,"wires":[["4d1f2b6c.b2f994"]]},{"id":"9cf16afd.41a748","type":"ui_text","z":"b006bd40.e3e99","group":"578e9d2e.2450e4","order":8,"width":1,"height":1,"name":"Exhaust Fan speed LED","label":"","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i></font>","layout":"row-center","x":1030,"y":1600,"wires":[]},{"id":"2aaa9cd7.bf8964","type":"function","z":"b006bd40.e3e99","name":"Speed color","func":"switch(msg.payload) {\n  case 0:\n    msg.color = \"gray\"\n    break;\n  case 1:\n     msg.color = \"green\"\n    break;\n  case 2:\n     msg.color = \"orange\"\n    break;\n  default:\n     msg.color = \"red\"\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1600,"wires":[["9cf16afd.41a748"]]},{"id":"e22073c8.4c311","type":"ui_text","z":"b006bd40.e3e99","group":"578e9d2e.2450e4","order":5,"width":1,"height":1,"name":"Internal Fan speed LED","label":"","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i></font>","layout":"row-center","x":1030,"y":1460,"wires":[]},{"id":"4d1f2b6c.b2f994","type":"function","z":"b006bd40.e3e99","name":"Speed color","func":"switch(msg.payload) {\n  case 0:\n    msg.color = \"gray\"\n    break;\n  case 1:\n     msg.color = \"green\"\n    break;\n  case 2:\n     msg.color = \"orange\"\n    break;\n  default:\n     msg.color = \"red\"\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1460,"wires":[["e22073c8.4c311"]]},{"id":"37113051.dbebc","type":"change","z":"b006bd40.e3e99","name":"Select Reservoir","rules":[{"t":"set","p":"AirPump","pt":"msg","to":"$number(msg.payload.APump1.S)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload.Res1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1660,"wires":[["e5f24995.823078","9050e259.c585e","df2c9c16.ae0cd","e6d2ae38.5003","1faa7613.5dec7a","5080f624.effd18"]]},{"id":"e5f24995.823078","type":"debug","z":"b006bd40.e3e99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":1660,"wires":[]},{"id":"db1ccf05.0ff28","type":"ui_switch","z":"b006bd40.e3e99","name":"","label":"AirPump","tooltip":"","group":"e3c44224.e25c8","order":2,"width":3,"height":1,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":980,"y":1740,"wires":[["9050e259.c585e"]]},{"id":"9050e259.c585e","type":"function","z":"b006bd40.e3e99","name":"AirPump Status","func":"msg.color = (msg.AirPump === 1 || msg.payload === true)  ?  \"green\"  :  \"gray\";\nmsg.payload = (msg.AirPump === 1 || msg.payload === true)  ?  true  :  false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":1700,"wires":[["db1ccf05.0ff28","1596fa27.ed2e06"]]},{"id":"1596fa27.ed2e06","type":"ui_text","z":"b006bd40.e3e99","group":"e3c44224.e25c8","order":1,"width":1,"height":1,"name":"Status LED","label":"","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:30px;\"></i></font>","layout":"row-center","x":990,"y":1700,"wires":[]},{"id":"df2c9c16.ae0cd","type":"ui_text","z":"b006bd40.e3e99","group":"e3c44224.e25c8","order":3,"width":3,"height":1,"name":"pH","label":"pH","format":"{{msg.payload.P}}","layout":"row-center","x":790,"y":1740,"wires":[]},{"id":"e6d2ae38.5003","type":"ui_gauge","z":"b006bd40.e3e99","name":"Water Temp","group":"e3c44224.e25c8","order":4,"width":4,"height":3,"gtype":"gage","title":"Water Temp","label":"°C","format":"{{msg.payload.WT}}","min":0,"max":"40","colors":["#007db3","#00e645","#ca3838"],"seg1":"15","seg2":"25","x":810,"y":1780,"wires":[]},{"id":"1faa7613.5dec7a","type":"ui_gauge","z":"b006bd40.e3e99","name":"Reservoir Weight","group":"e3c44224.e25c8","order":5,"width":3,"height":3,"gtype":"wave","title":"Weight","label":"kg","format":"{{msg.payload.W}}","min":0,"max":"65","colors":["#ea7f06","#7e8dfb","#002aff"],"seg1":"10","seg2":"40","x":830,"y":1820,"wires":[]},{"id":"5080f624.effd18","type":"ui_level","z":"b006bd40.e3e99","group":"e3c44224.e25c8","order":6,"width":0,"height":0,"name":"TDS","label":"TDS","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"2000","segWarn":"800","segHigh":"1600","unit":"ppm","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"valuedriven","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload.T","peaktime":3000,"x":790,"y":1860,"wires":[]},{"id":"6dc56997.117ef8","type":"debug","z":"b006bd40.e3e99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":1920,"wires":[]},{"id":"ddf84109.4b7c5","type":"ui_gauge","z":"b006bd40.e3e99","name":"Bucket Weight","group":"ee644883.b6e878","order":1,"width":4,"height":3,"gtype":"wave","title":"Bucket Weight","label":"kg","format":"{{msg.payload.WB1}}","min":0,"max":"25","colors":["#ea7f06","#7e8dfb","#002aff"],"seg1":"10","seg2":"40","x":820,"y":1960,"wires":[]},{"id":"b75f3226.a4794","type":"ui_gauge","z":"b006bd40.e3e99","name":"Waste Weight","group":"ee644883.b6e878","order":2,"width":3,"height":3,"gtype":"wave","title":"Waste Weight","label":"kg","format":"{{msg.payload.WR1}}","min":0,"max":"15","colors":["#ea7f06","#7e8dfb","#002aff"],"seg1":"10","seg2":"40","x":820,"y":2000,"wires":[]},{"id":"f7ede315.05928","type":"ui_numeric","z":"b006bd40.e3e99","name":"Dry weight","label":"Dry","tooltip":"","group":"ee644883.b6e878","order":3,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"","min":0,"max":"25","step":"0.01","x":1030,"y":2080,"wires":[[]]},{"id":"2554d5e6.b1950a","type":"ui_numeric","z":"b006bd40.e3e99","name":"Waste limit","label":"Waste limit","tooltip":"","group":"ee644883.b6e878","order":4,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"25","step":"0.5","x":1030,"y":2120,"wires":[[]]},{"id":"726d9a42.4ea734","type":"ui_numeric","z":"b006bd40.e3e99","name":"Overflow target","label":"Overflow target","tooltip":"","group":"ee644883.b6e878","order":6,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"","min":0,"max":"1","step":"0.1","x":1040,"y":2160,"wires":[[]]},{"id":"7a84b1f1.41129","type":"ui_numeric","z":"b006bd40.e3e99","name":"Evaporation target","label":"Evaporation target","tooltip":"","group":"ee644883.b6e878","order":8,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"6","step":1,"x":1050,"y":2200,"wires":[[]]},{"id":"19e6cd7c.09d6f3","type":"change","z":"b006bd40.e3e99","name":"Select Hempy module","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Hemp1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1920,"wires":[["4b46c863.001f48","b5a13407.cdea68","48a95499.6a6f2c","6dc56997.117ef8","60ee3e94.421c9","d215bfdd.8e689","ddf84109.4b7c5","b75f3226.a4794","9428e836.f89228","6f1c8631.97dfe8","35eb158.c6084ea","b27c1e26.d044d","b69d8534.c6fe38"]]},{"id":"4b46c863.001f48","type":"change","z":"b006bd40.e3e99","name":"Evaporation target","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.ET1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":2200,"wires":[["7a84b1f1.41129"]]},{"id":"b5a13407.cdea68","type":"ui_text","z":"b006bd40.e3e99","group":"ee644883.b6e878","order":5,"width":3,"height":1,"name":"Wet weight","label":"Wet","format":"{{msg.payload.WW1}}","layout":"row-spread","x":810,"y":2040,"wires":[]},{"id":"48a95499.6a6f2c","type":"change","z":"b006bd40.e3e99","name":"Waste limit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.WL1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2120,"wires":[["2554d5e6.b1950a"]]},{"id":"60ee3e94.421c9","type":"change","z":"b006bd40.e3e99","name":"Overflow target","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.OT1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":2160,"wires":[["726d9a42.4ea734"]]},{"id":"d215bfdd.8e689","type":"change","z":"b006bd40.e3e99","name":"Dry weight","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.DW1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2080,"wires":[["f7ede315.05928"]]},{"id":"9428e836.f89228","type":"change","z":"b006bd40.e3e99","name":"Pump speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.PS1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2240,"wires":[["63735b9.9d792a4"]]},{"id":"63735b9.9d792a4","type":"ui_slider","z":"b006bd40.e3e99","name":"Pump speed","label":"Speed","tooltip":"","group":"ee644883.b6e878","order":10,"width":4,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":1030,"y":2240,"wires":[[]]},{"id":"8dedb2c7.3f2b8","type":"ui_text","z":"b006bd40.e3e99","group":"ee644883.b6e878","order":12,"width":4,"height":1,"name":"Pump state","label":"Pump","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":2340,"wires":[]},{"id":"6f1c8631.97dfe8","type":"function","z":"b006bd40.e3e99","name":"Pump state","func":"switch(msg.payload.P1) {\n  case \"0\":\n    msg.payload = \"DISABLED\"\n    break;\n  case \"1\":\n     msg.payload = \"IDLE\"\n    break;\n  case \"2\":\n     msg.payload = \"RUNNING\"\n    break;\n  default:\n     msg.payload = \"???\"\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":2340,"wires":[["8dedb2c7.3f2b8"]]},{"id":"37ea275d.c642d8","type":"ui_text","z":"b006bd40.e3e99","group":"ee644883.b6e878","order":11,"width":3,"height":1,"name":"Hempy state","label":"State","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":2300,"wires":[]},{"id":"35eb158.c6084ea","type":"function","z":"b006bd40.e3e99","name":"Hempy state","func":"switch(msg.payload.H1) {\n  case \"0\":\n    msg.payload = \"DISABLED\"\n    break;\n  case \"1\":\n     msg.payload = \"IDLE\"\n    break;\n  case \"2\":\n     msg.payload = \"WATERING\"\n    break;\n  case \"3\":\n     msg.payload = \"DRAINING\"\n    break;\n  default:\n     msg.payload = \"???\"\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":2300,"wires":[["37ea275d.c642d8"]]},{"id":"27e3bc42.03a564","type":"ui_numeric","z":"b006bd40.e3e99","name":"Pump timeout","label":"Pump timeout","tooltip":"","group":"ee644883.b6e878","order":9,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}} sec","min":0,"max":"300","step":"1","x":1040,"y":2380,"wires":[[]]},{"id":"76ece887.9f9c98","type":"ui_numeric","z":"b006bd40.e3e99","name":"Drain time","label":"Drain time","tooltip":"","group":"ee644883.b6e878","order":7,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}} sec","min":0,"max":"300","step":"1","x":1030,"y":2420,"wires":[[]]},{"id":"b69d8534.c6fe38","type":"change","z":"b006bd40.e3e99","name":"Drain time","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.DT1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2420,"wires":[["76ece887.9f9c98"]]},{"id":"b27c1e26.d044d","type":"change","z":"b006bd40.e3e99","name":"Pump timeout","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.PT1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":2380,"wires":[["27e3bc42.03a564"]]},{"id":"d49bdf53.3b25b","type":"debug","z":"b006bd40.e3e99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":2480,"wires":[]},{"id":"3b474fe7.665f9","type":"ui_gauge","z":"b006bd40.e3e99","name":"Bucket Weight","group":"7fd41d0.72483e4","order":1,"width":4,"height":3,"gtype":"wave","title":"Bucket Weight","label":"kg","format":"{{msg.payload.WB2}}","min":0,"max":"25","colors":["#ea7f06","#7e8dfb","#002aff"],"seg1":"10","seg2":"40","x":820,"y":2520,"wires":[]},{"id":"c64d2853.5d50d8","type":"ui_gauge","z":"b006bd40.e3e99","name":"Waste Weight","group":"7fd41d0.72483e4","order":2,"width":3,"height":3,"gtype":"wave","title":"Waste Weight","label":"kg","format":"{{msg.payload.WR2}}","min":0,"max":"15","colors":["#ea7f06","#7e8dfb","#002aff"],"seg1":"10","seg2":"40","x":820,"y":2560,"wires":[]},{"id":"e358e03c.c2999","type":"ui_numeric","z":"b006bd40.e3e99","name":"Dry weight","label":"Dry","tooltip":"","group":"7fd41d0.72483e4","order":3,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"","min":0,"max":"25","step":"0.1","x":1030,"y":2640,"wires":[[]]},{"id":"e26d878f.0e4d18","type":"ui_numeric","z":"b006bd40.e3e99","name":"Waste limit","label":"Waste limit","tooltip":"","group":"7fd41d0.72483e4","order":4,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"25","step":"0.5","x":1030,"y":2680,"wires":[[]]},{"id":"c92a7790.74f688","type":"ui_numeric","z":"b006bd40.e3e99","name":"Overflow target","label":"Overflow target","tooltip":"","group":"7fd41d0.72483e4","order":6,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"","min":0,"max":"1","step":"0.1","x":1040,"y":2720,"wires":[[]]},{"id":"92a04574.3ca1a8","type":"ui_numeric","z":"b006bd40.e3e99","name":"Evaporation target","label":"Evaporation target","tooltip":"","group":"7fd41d0.72483e4","order":8,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"6","step":1,"x":1050,"y":2760,"wires":[[]]},{"id":"f93ea745.7031d8","type":"change","z":"b006bd40.e3e99","name":"Select Hempy module","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Hemp1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":2480,"wires":[["51852a74.e67634","402897c6.83e328","3976bbe2.124154","d49bdf53.3b25b","cb547f64.498b4","f86aa814.97c0b8","3b474fe7.665f9","c64d2853.5d50d8","cc6895fe.e04db8","a4a0742d.6d4fd8","47d2a0ac.fbaa7","cd5bd965.4cc0c8","2f69d375.1bc63c"]]},{"id":"51852a74.e67634","type":"change","z":"b006bd40.e3e99","name":"Evaporation target","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.ET2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":2760,"wires":[["92a04574.3ca1a8"]]},{"id":"402897c6.83e328","type":"ui_text","z":"b006bd40.e3e99","group":"7fd41d0.72483e4","order":5,"width":3,"height":1,"name":"Wet weight","label":"Wet","format":"{{msg.payload.WW2}}","layout":"row-spread","x":810,"y":2600,"wires":[]},{"id":"3976bbe2.124154","type":"change","z":"b006bd40.e3e99","name":"Waste limit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.WL2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2680,"wires":[["e26d878f.0e4d18"]]},{"id":"cb547f64.498b4","type":"change","z":"b006bd40.e3e99","name":"Overflow target","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.OT2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":2720,"wires":[["c92a7790.74f688"]]},{"id":"f86aa814.97c0b8","type":"change","z":"b006bd40.e3e99","name":"Dry weight","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.DW2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2640,"wires":[["e358e03c.c2999"]]},{"id":"cc6895fe.e04db8","type":"change","z":"b006bd40.e3e99","name":"Pump speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.PS2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2800,"wires":[["cfd04df7.d504"]]},{"id":"cfd04df7.d504","type":"ui_slider","z":"b006bd40.e3e99","name":"Pump speed","label":"Speed","tooltip":"","group":"7fd41d0.72483e4","order":10,"width":4,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":1030,"y":2800,"wires":[[]]},{"id":"7df898fd.028998","type":"ui_text","z":"b006bd40.e3e99","group":"7fd41d0.72483e4","order":12,"width":4,"height":1,"name":"Pump state","label":"Pump","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":2900,"wires":[]},{"id":"a4a0742d.6d4fd8","type":"function","z":"b006bd40.e3e99","name":"Pump state","func":"switch(msg.payload.P2) {\n  case \"0\":\n    msg.payload = \"DISABLED\"\n    break;\n  case \"1\":\n     msg.payload = \"IDLE\"\n    break;\n  case \"2\":\n     msg.payload = \"RUNNING\"\n    break;\n  default:\n     msg.payload = \"???\"\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":2900,"wires":[["7df898fd.028998"]]},{"id":"b55362d8.6271b","type":"ui_text","z":"b006bd40.e3e99","group":"7fd41d0.72483e4","order":11,"width":3,"height":1,"name":"Hempy state","label":"State","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":2860,"wires":[]},{"id":"47d2a0ac.fbaa7","type":"function","z":"b006bd40.e3e99","name":"Hempy state","func":"switch(msg.payload.H2) {\n  case \"0\":\n    msg.payload = \"DISABLED\"\n    break;\n  case \"1\":\n     msg.payload = \"IDLE\"\n    break;\n  case \"2\":\n     msg.payload = \"WATERING\"\n    break;\n  case \"3\":\n     msg.payload = \"DRAINING\"\n    break;\n  default:\n     msg.payload = \"???\"\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":2860,"wires":[["b55362d8.6271b"]]},{"id":"c5f33a6f.1f0f58","type":"ui_numeric","z":"b006bd40.e3e99","name":"Pump timeout","label":"Pump timeout","tooltip":"","group":"7fd41d0.72483e4","order":9,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}} sec","min":0,"max":"300","step":"1","x":1040,"y":2940,"wires":[[]]},{"id":"50bf3ba5.ed0144","type":"ui_numeric","z":"b006bd40.e3e99","name":"Drain time","label":"Drain time","tooltip":"","group":"7fd41d0.72483e4","order":7,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}} sec","min":0,"max":"300","step":"1","x":1030,"y":2980,"wires":[[]]},{"id":"2f69d375.1bc63c","type":"change","z":"b006bd40.e3e99","name":"Drain time","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.DT2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2980,"wires":[["50bf3ba5.ed0144"]]},{"id":"cd5bd965.4cc0c8","type":"change","z":"b006bd40.e3e99","name":"Pump timeout","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.PT2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":2940,"wires":[["c5f33a6f.1f0f58"]]},{"id":"bd39dfbf.2d415","type":"change","z":"b006bd40.e3e99","name":"Select Aero module","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Aero1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":3040,"wires":[["f1319efd.0906c","1130792c.2402c7","4d12e036.230dd","1dd56f98.3604b","16ee2b15.dc5265","7fcebab7.b6a3d4","59803c94.aeb9f4","4155efe4.7bcf1","11504bd4.52b594","28afd586.14742a","31c2582e.5da7b8","e45396af.5d2e78","ede1e904.1d5fe8","59b6a168.110c3"]]},{"id":"f1319efd.0906c","type":"debug","z":"b006bd40.e3e99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":3040,"wires":[]},{"id":"eb3cd31b.ea0b6","type":"ui_text","z":"b006bd40.e3e99","group":"f4760b27.ac0428","order":17,"width":3,"height":1,"name":"Pressure pump state","label":"Pump","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":3440,"wires":[]},{"id":"4d12e036.230dd","type":"function","z":"b006bd40.e3e99","name":"Pressure pump state","func":"switch(msg.payload.PSt) {\n  case \"0\":\n    msg.payload = \"DISABLED\"\n    break;\n  case \"1\":\n     msg.payload = \"IDLE\"\n    break;\n  case \"2\":\n     msg.payload = \"PRIMING\"\n    break;\n  case \"3\":\n     msg.payload = \"RUNNING\"\n    break;\n  case \"4\":\n     msg.payload = \"BLOWOFF\"\n    break;\n  case \"5\":\n     msg.payload = \"MIX\"\n    break;\n  case \"6\":\n     msg.payload = \"BYPASSCLOSE\"\n    break;\n  case \"7\":\n     msg.payload = \"BYPASSOPEN\"\n    break;\n  default:\n     msg.payload = \"???\"\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":3440,"wires":[["eb3cd31b.ea0b6"]]},{"id":"c9b842df.628da","type":"ui_text","z":"b006bd40.e3e99","group":"f4760b27.ac0428","order":15,"width":3,"height":1,"name":"Aero state","label":"State","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":3400,"wires":[]},{"id":"1130792c.2402c7","type":"function","z":"b006bd40.e3e99","name":"Aero state","func":"switch(msg.payload.AS) {\n  case \"0\":\n    msg.payload = \"DISABLED\"\n    break;\n  case \"1\":\n     msg.payload = \"IDLE\"\n    break;\n  case \"2\":\n     msg.payload = \"SPRAY\"\n    break;\n  case \"3\":\n     msg.payload = \"STOPSPRAY\"\n    break;\n  case \"4\":\n     msg.payload = \"RELEASE\"\n    break;\n  case \"5\":\n     msg.payload = \"REFILL\"\n    break;\n  case \"6\":\n     msg.payload = \"DRAIN\"\n    break;\n  case \"7\":\n     msg.payload = \"MIX\"\n    break;\n  default:\n     msg.payload = \"???\"\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":3400,"wires":[["c9b842df.628da"]]},{"id":"16ee2b15.dc5265","type":"ui_gauge","z":"b006bd40.e3e99","name":"Aero Weight","group":"f4760b27.ac0428","order":2,"width":3,"height":3,"gtype":"wave","title":"Aero Weight","label":"kg","format":"{{msg.payload.W}}","min":0,"max":"25","colors":["#ea7f06","#7e8dfb","#002aff"],"seg1":"10","seg2":"40","x":810,"y":3120,"wires":[]},{"id":"1dd56f98.3604b","type":"ui_gauge","z":"b006bd40.e3e99","name":"Pressure","group":"f4760b27.ac0428","order":1,"width":4,"height":3,"gtype":"gage","title":"Pressure","label":"bar","format":"{{msg.payload.P}}","min":0,"max":"8","colors":["#ff2600","#4aee3f","#f72237"],"seg1":"5","seg2":"7","x":800,"y":3080,"wires":[]},{"id":"6e518501.1c5abc","type":"ui_numeric","z":"b006bd40.e3e99","name":"Min pressure","label":"Min","tooltip":"","group":"f4760b27.ac0428","order":6,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"","min":0,"max":"8","step":"0.1","x":1030,"y":3160,"wires":[[]]},{"id":"7dd5ad51.8fe5a4","type":"ui_numeric","z":"b006bd40.e3e99","name":"Max pressure","label":"Max","tooltip":"","group":"f4760b27.ac0428","order":8,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"8","step":"0.1","x":1040,"y":3200,"wires":[[]]},{"id":"59803c94.aeb9f4","type":"change","z":"b006bd40.e3e99","name":"Max pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.Ma)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":3200,"wires":[["7dd5ad51.8fe5a4"]]},{"id":"7fcebab7.b6a3d4","type":"change","z":"b006bd40.e3e99","name":"Min pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.Mi)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":3160,"wires":[["6e518501.1c5abc"]]},{"id":"4155efe4.7bcf1","type":"ui_text","z":"b006bd40.e3e99","group":"f4760b27.ac0428","order":5,"width":3,"height":1,"name":"Last spray","label":"Last spray","format":"{{msg.payload.LS}} bar","layout":"row-spread","x":810,"y":3240,"wires":[]},{"id":"3a7cd271.60dcde","type":"ui_numeric","z":"b006bd40.e3e99","name":"Day interval","label":"Day","tooltip":"","group":"f4760b27.ac0428","order":9,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}} min","min":0,"max":"30","step":"1","x":1030,"y":3320,"wires":[[]]},{"id":"d04de0df.58f62","type":"ui_numeric","z":"b006bd40.e3e99","name":"Night interval","label":"Night","tooltip":"","group":"f4760b27.ac0428","order":11,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}} min","min":0,"max":"30","step":"1","x":1030,"y":3360,"wires":[[]]},{"id":"28afd586.14742a","type":"change","z":"b006bd40.e3e99","name":"Night interval","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.NI)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":3360,"wires":[["d04de0df.58f62"]]},{"id":"11504bd4.52b594","type":"change","z":"b006bd40.e3e99","name":"Day interval","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.DI)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":3320,"wires":[["3a7cd271.60dcde"]]},{"id":"4a949b1c.596304","type":"ui_numeric","z":"b006bd40.e3e99","name":"Spray duration","label":"Duration","tooltip":"","group":"f4760b27.ac0428","order":3,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}} sec","min":0,"max":"30","step":"0.1","x":1040,"y":3280,"wires":[[]]},{"id":"59b6a168.110c3","type":"change","z":"b006bd40.e3e99","name":"Spray duration","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.D)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":3280,"wires":[["4a949b1c.596304"]]},{"id":"20f82c12.e31d54","type":"ui_numeric","z":"b006bd40.e3e99","name":"Pump timeout","label":"Pump timeout","tooltip":"","group":"f4760b27.ac0428","order":14,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}} sec","min":0,"max":"300","step":"1","x":1040,"y":3540,"wires":[[]]},{"id":"e45396af.5d2e78","type":"change","z":"b006bd40.e3e99","name":"Pump timeout","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.PT)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":3540,"wires":[["20f82c12.e31d54"]]},{"id":"31c2582e.5da7b8","type":"change","z":"b006bd40.e3e99","name":"Pump speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.PS)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":3480,"wires":[["9622533f.12fbc"]]},{"id":"9622533f.12fbc","type":"ui_slider","z":"b006bd40.e3e99","name":"Pump speed","label":"Pump speed","tooltip":"","group":"f4760b27.ac0428","order":12,"width":7,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":1030,"y":3480,"wires":[[]]},{"id":"2dee7f88.a8d3f","type":"ui_numeric","z":"b006bd40.e3e99","name":"Pump priming time","label":"Pump priming","tooltip":"","group":"f4760b27.ac0428","order":13,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}} sec","min":0,"max":"60","step":"1","x":1050,"y":3580,"wires":[[]]},{"id":"ede1e904.1d5fe8","type":"change","z":"b006bd40.e3e99","name":"Pump priming time","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload.PP)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":3580,"wires":[["2dee7f88.a8d3f"]]},{"id":"69d56562.8f32ac","type":"mqtt-broker","name":"Local MQTT","broker":"192.168.1.227","port":"1883","tls":"","clientid":"Server","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8364017d.a7ff3","type":"ui_group","name":"LightSensor1","tab":"44180358.75752c","order":5,"disp":true,"width":"7","collapse":true},{"id":"bda16d8e.5cef7","type":"ui_group","name":"Light1","tab":"44180358.75752c","order":3,"disp":true,"width":"7","collapse":true},{"id":"48150cd2.dd7124","type":"ui_group","name":"Light2","tab":"44180358.75752c","order":4,"disp":true,"width":"7","collapse":true},{"id":"65d54d78.294e74","type":"ui_group","name":"Power sensor","tab":"44180358.75752c","order":1,"disp":true,"width":"7","collapse":true},{"id":"578e9d2e.2450e4","type":"ui_group","name":"Ventilation","tab":"44180358.75752c","order":2,"disp":true,"width":"7","collapse":true},{"id":"e3c44224.e25c8","type":"ui_group","name":"Reservoir","tab":"44180358.75752c","order":7,"disp":true,"width":"7","collapse":true},{"id":"ee644883.b6e878","type":"ui_group","name":"Hempy bucket 1","tab":"44180358.75752c","order":8,"disp":true,"width":7,"collapse":true},{"id":"7fd41d0.72483e4","type":"ui_group","name":"Hempy bucket 2","tab":"44180358.75752c","order":8,"disp":true,"width":"7","collapse":true},{"id":"f4760b27.ac0428","type":"ui_group","name":"Aeroponics","tab":"44180358.75752c","order":9,"disp":true,"width":"7","collapse":true},{"id":"44180358.75752c","type":"ui_tab","name":"GrowBox","icon":"dashboard","disabled":false,"hidden":false}]